<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="h-full flex flex-col items-center justify-center dark">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-40',
        ring: 'ring-0',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="text-4xl font-bold mb-2">
          {{ t("setup-user.title") }}
        </h1>
        <h2 class="text-xl">
          {{ t("setup-user.subtitle") }}
        </h2>
      </template>
      <p>
        {{ t("setup-user.steps.title") }}
      </p>
      <ol class="mt-2 mb-6 custom-list">
        <li>{{ t("setup-user.steps.account") }}</li>
        <li>{{ t("setup-user.steps.https") }}</li>
        <li>{{ t("setup-user.steps.domain") }}</li>
      </ol>
      <NuxtLink to="/setup-user/user">
        <UButton size="lg">
          {{ t("setup-user.get-started") }}
        </UButton>
      </NuxtLink>
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

definePageMeta({
  layout: "setup",
  index: 0,
});
</script>

<style scoped>
.custom-list {
  counter-reset: item;

  li {
    margin: 1rem 0;
    counter-increment: item;
  }

  li:before {
    content: counter(item);
    width: 1.75rem;
    height: 1.75rem;
    background: rgb(var(--color-primary-DEFAULT) / 0.6);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0.75rem;
  }
}
</style>
