<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-sm text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup-user.account.title") }}
        </h1>
        <span class="text-md max-w-sm text-center">
          {{ t("setup-user.account.subtitle") }}
        </span>
      </template>
      <form
        class="flex flex-col items-center justify-center gap-2 w-fit mx-auto"
        @submit.prevent="createAccount"
      >
        <UFormField :label="t('setup-user.account.name')" required class="w-full">
          <UInput
            v-model="name"
            :placeholder="t('setup-user.account.name')"
            required
            size="lg"
          />
        </UFormField>
        <UFormField :label="t('setup-user.account.email')" class="w-full">
          <UInput
            v-model="email"
            :placeholder="t('setup-user.account.email')"
            size="lg"
          />
        </UFormField>
        <UFormField
          :label="t('setup-user.account.password')"
          required
          class="w-full"
        >
          <PasswordInput
            v-model="password"
            :placeholder="t('setup-user.account.password')"
            required
            size="lg"
          />
        </UFormField>
        <UFormField
          :label="t('setup-user.account.confirm-password')"
          required
          class="w-full"
        >
          <PasswordInput
            v-model="confirmPassword"
            :placeholder="t('setup.account.confirm-password')"
            required
            size="lg"
          />
        </UFormField>
        <UButton :loading="isLoading" type="submit" class="mt-4" size="lg">
          {{ t("setup.next") }}
        </UButton>
      </form>
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

const isLoading = ref(false);
const password = ref("");
const confirmPassword = ref("");
const email = ref("");
const name = ref("");
const username = ref("");

const myInitialDetailsQuery = graphql(`
  query getMyInitialDetails {
    users {
      me {
        username
        name
        email
      }
    }
  }
`);

const { data: myDetails } = await useAsyncQuery(myInitialDetailsQuery);

username.value = myDetails.value?.users.me.username;
name.value = myDetails.value?.users.me.name;
email.value = myDetails.value?.users.me.email || "";

watch(myDetails, () => {
  username.value = myDetails.value!.users.me.username;
  name.value = myDetails.value!.users.me.name;
  email.value = myDetails.value!.users.me.email || "";
})

const setupMutation = graphql(`
  mutation updateMyAccount(
    $username: String!
    $name: String!
    $password: String!
    $email: String
    $isPublicName: Boolean
  ) {
    updateUser(
      username: $username
      name: $name
      password: $password
      email: $email
      showOnLoginScreen: $isPublicName
    )
  }
`);

const { mutate: updateMyAccount } = useMutation(
  setupMutation,
  computed(() => ({
    variables: {
      username: username.value,
      name: name.value,
      password: password.value,
      email: email.value,
      // TODO: Make this dynamic
      isPublicName: true,
    },
  })),
);

async function createAccount() {
  isLoading.value = true;
  await updateMyAccount();
  await navigateTo("/setup-user/https");
}

definePageMeta({
  layout: "setup",
  index: 1,
});
</script>
