<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.domain.custom.title") }}
        </h1>
        <span class="max-w-lg text-center">
          {{ t("setup.domain.custom.subtitle") }}
        </span>
      </template>
      <p class="mb-1 text-center lg:max-w-[50vw]">
        {{ t("setup.domain.custom.setup-guide", { ip }) }}
      </p>
      <p class="mb-6 text-center lg:max-w-[50vw]">
        {{ t("setup.domain.custom.cloudflare-explanation") }}
      </p>
      <form class="flex gap-4 flex-col" @submit.prevent="setupDomain(false)">
        <UFormField label="Domain DNS provider" class="block">
          <USelect
            v-model="provider"
            class="w-full"
            size="lg"
            :placeholder="t('https.connected-domains.provider')"
            :items="['Cloudflare™', 'Other']"
          />
        </UFormField>
        <div class="flex gap-2">
          <UFormField label="Your domain" class="w-full">
            <UInput v-model="domain" placeholder="Domain" required size="lg" />
          </UFormField>
          <UFormField
            v-if="provider === 'Cloudflare™'"
            label="Your API access token"
            class="w-full"
          >
            <UInput v-model="auth" placeholder="API token" size="lg" required />
          </UFormField>
        </div>
        <UAlert
          v-if="hasPrivateIp && provider !== 'Cloudflare™' && provider !== ''"
          color="red"
          variant="subtle"
          :title="t('setup.domain.custom.private-ip-error.title')"
          :description="t('setup.domain.custom.private-ip-error.description')"
          class="min-w-[25vw]"
        />
        <UButton
          type="submit"
          size="lg"
          :ui="{ root: 'flex justify-center' }"
          :disabled="
            showVerification || (hasPrivateIp && provider !== 'Cloudflare™')
          "
          :loading
        >
          {{ t("https.connected-domains.setup.submit") }}
        </UButton>
      </form>
      <div class="my-2" />
      <UModal
        v-model:open="showVerification"
        :title="t('https.connected-domains.verify.title')"
      >
        <template #body>
          <div class="flex flex-col gap-2">
            <p class="mb-2">
              {{
                t("https.connected-domains.verify.content", {
                  domain,
                })
              }}
            </p>
            <InputCopy
              :value="
                'nirvati-verification=' +
                verificationCode?.users.me.domainVerificationCode
              "
              class="mb-2"
            />
            <UButton @click="setupDomain(true)"
              >{{ t("https.connected-domains.verify.confirm") }}
            </UButton>
          </div>
        </template>
      </UModal>
      <NuxtLink class="text-sm" to="/setup-user/domain"> &lt; Go back</NuxtLink>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import isIpPrivate from "private-ip";
import { UserPermission } from "~/utils/gql/graphql";

const { t } = useI18n();

const auth = ref("");
const domain = ref("");
const provider = ref("");
const showVerification = ref(false);
const loading = ref(false);

const customDomainInfoQuery = graphql(`
  query userCustomDomainInfo {
    users {
      me {
        acmeProviders
        permissions
      }
    }
    network {
      ip
    }
  }
`);

const { data: customDomainInfo } = await useAsyncQuery(customDomainInfoQuery);

const verificationCodeQuery = graphql(`
  query getDomainVerificationCode($domain: String!) {
    users {
      me {
        domainVerificationCode(domain: $domain)
      }
    }
  }
`);
const verificationCodeExistsQuery = graphql(`
  query ensureCodeExists($domain: String!) {
    users {
      me {
        verifyTxt(domain: $domain)
      }
    }
  }
`);

const addVerificationCodeCfMutation = graphql(`
  mutation addVerificationCode(
    $domain: String!
    $dnsProvider: DnsProvider!
    $auth: String!
  ) {
    addVerificationTxt(
      domain: $domain
      dnsAuth: $auth
      dnsProvider: $dnsProvider
    )
  }
`);

const { mutate: addCode } = useMutation(addVerificationCodeCfMutation);

const { refetch: fetchVerificationCode, result: verificationCode } = useQuery(
  verificationCodeQuery,
  {
    domain: "",
  },
);

const ip = computed(() => {
  return customDomainInfo.value?.network.ip;
});

const hasPrivateIp = computed(() => {
  if (!customDomainInfo.value?.network.ip) return false;
  return isIpPrivate(customDomainInfo.value?.network.ip);
});

const { mutate: saveDomain } = useMutation(addDomainMutation);

async function setupDomain(force: boolean) {
  loading.value = true;
  if (
    !force &&
    !customDomainInfo.value?.users.me.permissions.includes(
      UserPermission.AddTrustedDomains,
    ) &&
    provider.value !== "Cloudflare™"
  ) {
    await fetchVerificationCode({ domain: domain.value });
    showVerification.value = true;
    loading.value = false;
    return;
  }
  if (
    !customDomainInfo.value?.users.me.permissions.includes(
      UserPermission.AddTrustedDomains,
    ) &&
    provider.value === "Cloudflare™"
  ) {
    await addCode({
      domain: domain.value,
      dnsProvider: getDnsProvider(provider.value)!,
      auth: auth.value,
    });
    await new Promise((resolve) => {
      setTimeout(resolve, 10000);
    });
  }
  await saveDomain({
    domain: domain.value,
    dnsProvider: getDnsProvider(provider.value),
    auth: auth.value,
    acmeProviders: customDomainInfo.value.users.me.acmeProviders,
  });
  loading.value = false;
  await navigateTo("/setup-user/finish");
}

definePageMeta({
  layout: "setup",
  index: 3,
});
</script>

<style scoped></style>
