<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="mb-3 text-3xl font-bold">
      {{ t("setup.domain.title") }}
    </h1>
    <span class="mb-2 max-w-lg text-center">
      {{ t("setup.domain.explanation") }}
    </span>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:max-w-4xl">
      <UCard
        :ui="{
          background: 'dark:bg-opacity-40',
          ring: 'ring-0',
          root: 'flex flex-col',
          body: 'h-full',
        }"
      >
        <template #header>
          <h2 class="text-2xl font-bold">
            {{ t("setup.domain.nirvati-me.title") }}
          </h2>
        </template>
        <div class="flex flex-col items-center text-center h-full">
          <p class="mb-3">
            {{ t("setup.domain.nirvati-me.explanation") }}
          </p>
          <UTooltip
            class="mt-auto"
            text="Not available"
            :prevent="isPrivateIp"
          >
            <NuxtLink v-if="isPrivateIp" to="/setup-user/domain/nirvati-me">
              <UButton>{{ t("setup.domain.continue") }}</UButton>
            </NuxtLink>

            <UButton v-else disabled>
              {{ t("setup.domain.continue") }} {{  }}
            </UButton>
          </UTooltip>
        </div>
      </UCard>
      <UCard
        :ui="{
          background: 'dark:bg-opacity-40',
          ring: 'ring-0',
          root: 'flex flex-col',
          body: 'h-full',
        }"
      >
        <template #header>
          <h2 class="text-2xl font-bold">
            {{ t("setup.domain.custom.title") }}
          </h2>
        </template>
        <div
          class="flex flex-col items-center justify-center text-center h-full"
        >
          <p class="mb-3">
            {{ t("setup.domain.custom.explanation") }}
          </p>
          <NuxtLink to="/setup-user/domain/custom">
            <UButton class="mt-auto">
              {{ t("setup.domain.continue") }}
            </UButton>
          </NuxtLink>
        </div>
      </UCard>
    </div>
  </div>
</template>

<script setup lang="ts">
import isIpPrivate from "private-ip";

const { t } = useI18n();

const networkInfoQuery = graphql(`
  query getBasicNetworkInfo {
    network {
      ip
    }
  }
`);

const { data: networkInfo, error } = await useAsyncQuery(networkInfoQuery);
const isPrivateIp = computed(() =>
  networkInfo.value?.network.ip
    ? isIpPrivate(networkInfo.value?.network.ip)
    : false,
);

definePageMeta({
  layout: "setup",
  index: 3,
});
</script>

<style scoped></style>
