<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.domain.nirvati-me.title") }}
        </h1>
        <span class="max-w-lg text-center">
          {{ t("setup.domain.nirvati-me.explanation") }}
        </span>
      </template>
      <div class="flex flex-col items-center justify-center gap-2">
        <p class="mb-2 text-center max-w-lg">
          {{ t("setup.domain.nirvati-me.setup-guide") }}
        </p>
        <InputCopy :value="signUpCode" size="lg" />
        <a href="https://nirvati.me" class="underline" target="_blank">
          <UButton>{{ t("setup.domain.nirvati-me.create-domain") }}</UButton>
        </a>
        <NuxtLink class="mt-1 text-sm" to="/setup-user/domain">
          &lt; Go back
        </NuxtLink>
      </div>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import type { AcmeProvider } from "~/utils/gql/graphql";
import { DnsProvider } from "~/utils/gql/graphql";

const { t } = useI18n();

const nirvatiMeInfoQuery = graphql(`
  query getUserNirvatiMeInfo {
    network {
      ip
    }
    users {
      me {
        nirvatiMeUsername: entropy(identifier: "nirvati.me-username")
        nirvatiMePassword: entropy(identifier: "nirvati.me-password")
      }
    }
  }
`);

const { data: nirvatiMeInfo } = await useAsyncQuery(nirvatiMeInfoQuery);

const nirvatiMeAccountQuery = graphql(`
  query getNirvatiMeAccount {
    users {
      me {
        nirvatiMe {
          name
        }
        acmeProviders
      }
    }
  }
`);

const { result: nirvatiMeAccount } = useQuery(
  nirvatiMeAccountQuery,
  undefined,
  {
    pollInterval: 2000,
  },
);

const signUpCode = computed(() => {
  return encodeBase64(
    JSON.stringify({
      username: nirvatiMeInfo.value?.users?.me?.nirvatiMeUsername,
      password: nirvatiMeInfo.value?.users?.me?.nirvatiMePassword,
      ip:
        nirvatiMeInfo.value?.network.ip,
    }),
  );
});

const { mutate: saveDomain } = useMutation(addDomainMutation);

watch(nirvatiMeAccount, async (account) => {
  if (!account?.users.me.nirvatiMe?.name) {
    return;
  }
  await saveDomain({
    dnsProvider: DnsProvider.NirvatiMe,
    domain: `${account.users.me.nirvatiMe.name}.nirvati.me`,
    auth: `${nirvatiMeInfo.value.users.me.nirvatiMeUsername}:${nirvatiMeInfo.value.users.me.nirvatiMePassword}`,
    acmeProviders: account.users.me.acmeProviders,
    forceHttpOnly: false,
  });
  navigateTo("/setup-user/finish");
});

definePageMeta({
  layout: "setup",
  index: 3,
});
</script>
