<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <CardLayout class="min-h-full">
      <template #header>
        <h1 class="mb-1 text-4xl font-bold">
          {{ t("app-store.add-new.title") }}
        </h1>
        <h3 class="mb-4 text-lg">
          {{ t("app-store.add-new.subtitle") }}
        </h3>
      </template>
      <p>{{ t("app-store.add-new.explanation") }}</p>
      <label class="mb-2 mt-4 block" for="app-store-git">{{
        t("app-store.add-new.store-git")
      }}</label>
      <form @submit.prevent="submit" class="flex flex-col">
        <UInput
          id="app-store-git"
          v-model="repo"
          placeholder="https://gitlab.com/my-user/my-store.git"
          type="url"
          required
          @keyup="error = ''"
        />
        <label class="mb-2 mt-4 block" for="app-store-branch">{{
          t("app-store.add-new.store-branch")
        }}</label>
        <UInput
          id="app-store-branch"
          v-model="branch"
          placeholder="stable"
          required
          @keyup="error = ''"
        />
        <!--<DevOnly>
          {{ JSON.stringify(supportedPlugins) }}
        </DevOnly>-->
        <span
          v-if="error.length > 0"
          class="text-sm font-semibold text-red-500"
        >
          {{ error }}
        </span>
        <UButton
          :disabled="!repo || !branch || error !== ''"
          :loading="loading"
          type="submit"
          aria-label="Login"
          class="mt-6"
        >
          {{ t("app-store.add-new.add") }}
        </UButton>
      </form>
    </CardLayout>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();
const loading = ref(false);
const error = ref("");
const repo = ref("");
const branch = ref("");

definePageMeta({
  layout: "authenticated",
});

const addStoreMutation = graphql(`
  mutation addStore($src: JSONObject!) {
    addAppStore(src: $src, storeType: GIT)
  }
`);

const { mutate: doRegenerate } = useMutation(generateAppFilesMutation);
const { mutate: doRefresh } = useMutation(refreshStoresMutation);

const { mutate: addStore } = useMutation<{ addStore: boolean }>(
  addStoreMutation,
  computed(() => ({
    variables: {
      src: {
        repo_url: repo.value,
        branch: branch.value,
      },
    },
  })),
);

async function submit() {
  loading.value = true;
  await addStore();
  await doRefresh();
  await doRegenerate();
  loading.value = false;
  await navigateTo("/app-store/sources");
}

const storePluginsQuery = graphql(`
  query getStorePlugins {
    users {
      me {
        apps(installedOnly: true) {
          storePlugins {
            name
            id
            description
            icon
          }
        }
      }
    }
  }
`);

const { data: supportedPlugins } = await useAsyncQuery(storePluginsQuery);
</script>
