<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <CardLayout>
    <span v-if="error" class="text-red-300 dark:text-red-700">{{ error }}</span>
    <div
      v-else
      class="grid h-auto w-full grid-cols-1 md:lg:grid-cols-2 xl:grid-cols-3 gap-3"
    >
      <NuxtLink
        v-for="store in existingStores?.users.me.stores"
        :key="store.id"
        :to="`/app-store/sources/${store.id}`"
        class="group"
      >
        <UCard :ui="{ body: 'flex flex-row items-center' }">
          <img :src="store.icon!" class="mr-4 h-12 w-12 rounded" >
          <div class="flex-1">
            <h2 class="mb-1 text-2xl font-bold">
              {{ getTranslated(store.name) }}
            </h2>
            <p class="mb-1 text-lg">
              {{ getTranslated(store.tagline) }}
            </p>
          </div>
          <div class="flex w-8 flex-1 grow-0 items-center justify-end">
            <UIcon
              name="i-heroicons-chevron-right"
              class="mr-2 h-6 w-6 custom-transition group-hover:mr-0 group-hover:ml-0"
            /></div
        ></UCard>
      </NuxtLink>
      <NuxtLink to="/app-store/sources/add" class="group">
        <UCard :ui="{ body: 'flex flex-row items-center' }">
          <div class="flex-1">
            <h2 class="mb-1 text-2xl font-bold">
              {{ t("app-store.add-new.button") }}
            </h2>
            <p class="mb-1 text-lg">
              {{ t("app-store.add-new.subtitle") }}
            </p>
          </div>
          <div class="flex w-8 flex-1 grow-0 items-center justify-end">
            <UIcon
              name="i-heroicons-chevron-right"
              class="mr-2 h-6 w-6 custom-transition group-hover:mr-0 group-hover:ml-0"
            /></div
        ></UCard>
      </NuxtLink>
    </div>
  </CardLayout>
</template>

<script setup lang="ts">
const { t } = useI18n();

definePageMeta({
  layout: "authenticated",
});

const { getTranslated } = useTranslate();

const existingStoresQuery = graphql(`
  query existingStores {
    users {
      me {
        stores {
          id
          name
          tagline
          icon
        }
      }
    }
  }
`);

const { data: existingStores, error } = useAsyncQuery(existingStoresQuery);
</script>

<style scoped>
.custom-transition {
  transition: margin 100ms;
}
</style>