<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <UCard
      v-if="!!app && app.name"
      :ui="{
        root: 'min-h-0 h-full flex flex-col',
        body: 'h-full min-h-0 xl:flex min-h-[50vh] max-h-full py-2',
      }"
    >
      <template #header>
        <div
          class="mb-2 flex flex-wrap items-center justify-center xl:flex-nowrap xl:justify-start"
        >
          <img :src="app?.icon!" class="mr-4 h-24 w-24 rounded" />
          <div class="ml-2 flex flex-col justify-center">
            <h1 class="mb-1 text-4xl font-bold">
              {{ getTranslated(app.name) }}
            </h1>
            <h3 class="text-xl">
              {{ tagline }}
            </h3>
          </div>
          <div class="mx-4 flex items-center xl:ml-auto">
            <div
              class="mx-4 flex flex-col items-center justify-center justify-self-end"
            >
              <div class="flex flex-row gap-4">
                <UFormField
                  v-if="app.defaultUsername"
                  :label="t('app-store.app.default-username')"
                  class="mb-1 w-44 max-w-[20rem]"
                >
                  <InputCopy size="xl" :value="app.defaultUsername" />
                </UFormField>
                <UFormField
                  v-if="app.defaultPassword"
                  :label="t('app-store.app.default-password')"
                  class="mb-1 w-44 max-w-[20rem]"
                >
                  <InputCopy size="xl" :value="app.defaultPassword" />
                </UFormField>
              </div>
            </div>
            <NuxtLink
              v-if="app.installed && app.supportsIngress"
              :to="`https://${app.domains[0].name}`"
            >
              <UButton size="xl">
                {{ t("app-store.app.open") }}
              </UButton>
            </NuxtLink>
            <UButton
              v-else-if="!app.installed"
              :color="allDependenciesInstalled ? 'primary' : 'red'"
              :loading="isInstalling"
              :disabled="isInstalling || !allDependenciesInstalled"
              size="xl"
              @click="showInstallModal()"
            >
              <span v-if="isInstalling">
                {{ t("app-store.app.installing") }}</span
              >
              <span v-else-if="allDependenciesInstalled">
                {{ t("app-store.app.install") }}</span
              >
              <span v-else> {{ t("app-store.app.incompatible") }}</span>
            </UButton>
            <InstallAppModal
              v-model="installModalOpen"
              v-model:settings="settingValues"
              :app="appId"
              :settings-definition="app.settings"
              :has-ingress="app.supportsIngress"
              @start-install="
                () => {
                  isInstalling = true;
                }
              "
            />
            <CitadelUpgradeModal v-model="citadelModalOpen" />
          </div>
        </div>
      </template>
      <UCard
        class="min-h-[50vh] max-h-full xl:min-w-[70%]"
        :ui="{
          root: 'flex flex-col',
          body: 'min-h-0 h-full overflow-scroll flex',
        }"
      >
        <template #header>
          <h2 class="text-2xl font-bold">
            {{ t("app-store.app.description") }}
          </h2>
        </template>
        <Purifier
          class="mb-1 whitespace-pre-wrap text-lg h-max"
          :content="description"
        />
      </UCard>
      <UCard class="xl:ml-2 xl:w-full">
        <template #header>
          <h2 class="mb-1 text-2xl font-bold">
            {{ t("app-store.app.details") }}
          </h2>
        </template>
        <table class="border-separate border-spacing-2">
          <tbody>
            <tr>
              <td class="px-2 align-top font-bold">
                {{ t("app-store.app.license") }}
              </td>
              <td class="flex flex-col">
                <UModal v-if="license.url" :title="license.name" fullscreen="true"
                  ><span class="cursor-pointer">{{ license.name }}</span>
                  <template #body>
                    <div class="text-justify max-h-[80vh] overflow-scroll">
                    <pre class="whitespace-pre-wrap">{{ license.licenseText }}</pre>
                    </div>
                  </template>
                  <template #footer>
                    <NuxtLink :to="license.url" target="_blank">{{ t('app-store.app.view-license-externally') }}</NuxtLink>
                  </template>
                </UModal>
                <span v-else>{{ license.name }}</span>
                <div
                  v-if="license.osiApproved"
                  class="mt-2 flex items-center text-green-500"
                >
                  <UIcon name="i-heroicons-check-badge" class="mr-2 size-6" />
                  Open Source
                </div>
              </td>
            </tr>
            <tr>
              <td class="px-2 align-top font-bold">
                {{
                  t("app-store.app.repository", Object.keys(app.repos).length)
                }}
              </td>
              <td class="flex flex-col">
                <a
                  v-for="repo in Object.keys(app.repos)"
                  :key="repo"
                  :href="app.repos[repo]"
                  class="block text-blue-500"
                  target="_blank"
                >
                  {{ repo }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-if="app.dependencies.length > 0">
          <h3 class="mb-4 font-bold">
            {{ t("app-store.app.dependencies") }}
          </h3>
          <div>
            <div
              v-for="dep in app.dependencies"
              :key="
                dep.__typename == 'AlternativeDependency'
                  ? dep.options.map((opt) => opt.id).join('-')
                  : dep.__typename == 'AppMetadata'
                    ? dep.id
                    : 'unknown'
              "
              class="my-4 box-border flex w-full flex-row items-center"
            >
              <NuxtLink
                v-if="dep.__typename == 'AppMetadata'"
                class="flex flex-row items-center"
                :to="`/app-store/${dep.id}`"
              >
                <img :src="dep?.icon!" class="mr-4 size-8 rounded inline" />
                <span class="text-lg mr-4">{{ dep.name }}</span>
                <span
                  class="ml-auto mr-2"
                  :class="{
                    'text-red-500': !dep.installed,
                  }"
                  >{{
                    dep.installed
                      ? t("app-store.app.installed")
                      : t("app-store.app.required")
                  }}</span
                >
              </NuxtLink>
              <div v-else-if="dep.__typename == 'AlternativeDependency'">
                <NuxtLink
                  v-for="impl in dep.options"
                  :key="impl.id"
                  :to="`/app-store/${impl.id}`"
                  class="flex w-full flex-row items-center"
                >
                  <img class="h-12 w-12 rounded" :src="impl?.icon!" />
                  <span class="ml-4 text-lg">{{ getTranslated(impl.name) }}</span>
                  <span
                    v-if="dep.options.length == 1"
                    class="ml-auto mr-2"
                    :class="{
                      'text-red-500': !impl.installed,
                    }"
                    >{{
                      impl.installed
                        ? t("app-store.app.installed")
                        : t("app-store.app.required")
                    }}</span
                  >
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
        <!-- <div v-if="app.hasPermissions.length > 0">
        <h3 class="mb-4 font-bold">
          {{ t("app-store.app.permissions") }}
        </h3>
        <div v-for="perm in app.hasPermissions" :key="perm.id" class="my-1">
          <span v-if="perm.id === 'root'" class="font-bold text-red-500"
            >Full system access</span
          >
          <div v-else-if="perm.id.includes('/')">
            <b>{{ perm.appName }}</b
            >: {{ getTranslated(perm.name) }}
            <span class="block text-sm">{{
              getTranslated(perm.description)
            }}</span>
          </div>
          <div v-else>
            <b>{{ perm.appName }}</b
            >: {{ t("app-store.app.full-access") }}
          </div>
        </div>
      </div> -->
      </UCard>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import spdx from "spdx-license-list";

import { useBreadcrumbPath } from "~/composables/state";
import { UserPermission } from "~/utils/gql/graphql";

const isInstalling = ref(false);
const installModalOpen = ref(false);
const citadelModalOpen = ref(false);
const showInstallModal = () => {
  installModalOpen.value = true;
};

const route = useRoute();
// @ts-expect-error Nuxt typedPages breaks route.params partially
const appId = route.params.app as string;

const appQuery = graphql(`
  query getAppById($id: String!) {
    users {
      me {
        permissions
        app(appId: $id) {
          name
          tagline
          icon
          description
          repos
          gallery
          defaultUsername
          defaultPassword
          license
          installed
          path
          supportsIngress
          permissions {
            __typename
            ... on AppPermission {
              appName
              permName
              description
            }
            ... on BuiltinPermission {
              permission
            }
          }
          domains {
            name
          }
          settings
          dependencies {
            __typename
            ... on AppMetadata {
              id
              name
              installed
              icon
            }
            ... on AlternativeDependency {
              options {
                id
                installed
                name
                icon
              }
            }
          }
        }
      }
    }
  }
`);

const { result: queriedApp } = useQuery(appQuery, {
  id: appId,
});

const { getTranslated } = useTranslate();

// eslint-disable-next-line @typescript-eslint/no-non-null-asserted-optional-chain
const app = computed(() => queriedApp.value?.users.me.app!);

const licenseSpdx = computed(() => app.value?.license);
const license = ref({
    name: "Unknown",
    osiApproved: false,
  loaded: false,
});
if (licenseSpdx.value) {
  license.value = { ...spdx[licenseSpdx.value], loaded: false };
}

watch(licenseSpdx, async () => {
  try {
    const resp = await fetch(`/license?spdx=${licenseSpdx.value}`);
    license.value = await resp.json();
  } catch (e) {
    console.err(e)
  };
});

onMounted(async () => {
  if (licenseSpdx.value && license.value?.loaded === false) {
    const resp = await fetch(`/license?spdx=${licenseSpdx.value}`);
    license.value = await resp.json();
  }
})

const { t } = useI18n();
const description = computed(
  () =>
    getTranslated(app.value.description) ||
    "An internal error occurred",
);
const tagline = computed(() => getTranslated(app.value.tagline));

const breadcrumbPath = useBreadcrumbPath();

// - 1 for the leading slash
const pathLen = route.path.split("/").length - 1;
breadcrumbPath.value = new Array(pathLen);
breadcrumbPath.value[pathLen - 1] = {
  label: getTranslated(app.value?.name),
  icon: app.value?.icon as string,
};

watch(app, () => {
  breadcrumbPath.value[pathLen - 1] = {
    label: getTranslated(app.value?.name),
    icon: app.value?.icon as string,
  };
});

watch(installModalOpen, async (newVal) => {
  if (!newVal) {
    if (queriedApp.value.users.me.permissions.includes(UserPermission.ManageSysComponents) && isInstalling.value && appId == "citadel") {
      citadelModalOpen.value = true;
    }
    await refreshNuxtData();
  }
});

const allDependenciesInstalled = computed(() => {
  return app.value.dependencies.every((dep) =>
    dep.__typename === "AppMetadata"
      ? dep.installed
      : dep.__typename === "AlternativeDependency"
        ? dep.options.some((opt) => opt.installed)
        : false,
  );
});

// Initialize with an object that matches the keys in app.value.settings, and the value being the default value
const settingValues = ref<Record<string, unknown>>({});

watch(app, (newVal) => {
  if (newVal && Object.keys(settingValues.value).length === 0) {
    settingValues.value = Object.fromEntries(
      Object.entries(newVal.settings).map(([key, setting]) => [
        key,
        setting.default || undefined,
      ]),
    );
  }
});

definePageMeta({
  layout: "authenticated",
});
</script>
