<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.domain.custom.title") }}
        </h1>
        <span class="max-w-lg text-center">
          {{ t("setup.domain.custom.subtitle") }}
        </span>
      </template>
      <p class="mb-1 text-center lg:max-w-[50vw]">
        {{ t("setup.domain.custom.setup-guide", { ip }) }}
      </p>
      <p class="mb-6 text-center lg:max-w-[50vw]">
        {{ t("setup.domain.custom.cloudflare-explanation") }}
      </p>
      <form class="flex gap-4 flex-col" @submit.prevent="setupDomain">
        <UFormField label="Domain DNS provider" class="block">
          <USelect
            v-model="provider"
            class="w-full"
            size="lg"
            :placeholder="t('https.connected-domains.provider')"
            :items="['Cloudflare™', 'Other']"
          />
        </UFormField>
        <div class="flex gap-2">
          <UFormField label="Your domain" class="w-full">
            <UInput v-model="domain" placeholder="Domain" required size="lg" />
          </UFormField>
          <UFormField
            v-if="provider === 'Cloudflare™'"
            label="Your API access token"
            class="w-full"
          >
            <UInput v-model="auth" placeholder="API token" size="lg" required />
          </UFormField>
        </div>
        <UAlert
          v-if="hasPrivateIp && provider !== 'Cloudflare™' && provider !== ''"
          color="red"
          variant="subtle"
          :title="t('setup.domain.custom.private-ip-error.title')"
          :description="t('setup.domain.custom.private-ip-error.description')"
          class="min-w-[25vw]"
        />
        <UButton
          type="submit"
          size="lg"
          :ui="{ root: 'flex justify-center' }"
          :disabled="hasPrivateIp && provider !== 'Cloudflare™'"
        >
          {{ t("https.connected-domains.setup.submit") }}
        </UButton>
      </form>
      <div class="my-2" />
      <NuxtLink class="text-sm" to="/setup/domain"> &lt; Go back </NuxtLink>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import isIpPrivate from "private-ip";
import type { AcmeProvider } from "~/utils/gql/graphql";

const { t } = useI18n();

const auth = ref("");
const domain = ref("");
const provider = ref("");

const customDomainInfoQuery = graphql(`
  query customDomainInfo {
    users {
      me {
        acmeProviders
      }
    }
    network {
      ip
      tailscaleInfo {
        ip
      }
    }
  }
`);

const { data: customDomainInfo } = await useAsyncQuery(customDomainInfoQuery);

const ip = computed(() => {
  return (
    (hasPrivateIp.value && customDomainInfo.value?.network.tailscaleInfo?.ip) ||
    customDomainInfo.value?.network.ip
  );
});

const hasPrivateIp = computed(() => {
  if (!customDomainInfo.value?.network.ip) return false;
  return isIpPrivate(customDomainInfo.value?.network.ip);
});

const { mutate: saveDomain } = useMutation(addDomainMutation);

const { mutate: configureHttps } = useMutation(addAppDomainMutation);

function randomAcmeProvider(acmeProviders: AcmeProvider[]) {
  return acmeProviders[Math.floor(Math.random() * acmeProviders.length)];
}

async function setupDomain() {
  await saveDomain({
    domain: domain.value,
    dnsProvider: getDnsProvider(provider.value),
    auth: auth.value,
    acmeProviders: customDomainInfo.value.users.me.acmeProviders,
  });
  const domainElements = domain.value.split(".").length;
  await configureHttps({
    app: "nirvati",
    domain: domainElements === 2 ? `nirvati.${domain.value}` : domain.value,
    acmeProvider: randomAcmeProvider(
      customDomainInfo.value.users.me.acmeProviders,
    ),
    forceHttpOnly: false,
  });
  navigateTo("/setup/https-ready");
}

definePageMeta({
  layout: "setup",
  index: 4,
});
</script>

<style scoped></style>
