<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <CardLayout
    class="min-h-full"
    :ui="{
      root: 'flex flex-col',
      body: 'h-full flex-grow flex flex-col',
    }"
  >
    <template #header>
      <h1 class="mb-1 text-4xl font-bold">
        {{ getTranslated(volume?.volumeDefinition.name!) }}
      </h1>
      <h3 class="text-lg">
        {{ getTranslated(volume?.volumeDefinition.description!) }}
      </h3>
    </template>
    <div class="flex flex-col gap-2">
      <div class="flex gap-2 items-center">
        <span>Replicas:</span
        ><CountInput
          v-model="replicaCount"
          :min="1"
          :max="10"
          :round-precision="0"
        />
      </div>
      <div class="flex gap-2 items-center">
        <span>Size limit (in GiB):</span
        ><CountInput
          v-model="sizeLimit"
          :min="initialSize"
          :max="10"
          :round-precision="3"
        />
      </div>
    </div>
    <div class="h-10">
      <Transition name="slide-y-fade">
        <UButton
          v-if="hasChanged"
          type="submit"
          aria-label="Login"
          size="lg"
          :loading="isChanging"
          @click="save"
        >
          {{ t("utils.save") }}
        </UButton>
      </Transition>
    </div>
  </CardLayout>
</template>

<script setup lang="ts">
import { useBreadcrumbPath } from "~/composables/state";

const { params, path } = useRoute();

const { t } = useI18n();
const { getTranslated } = useTranslate();
const isChanging = ref(false);

const volumeQuery = graphql(`
  query getAppVolume($appId: String!) {
    users {
      me {
        app(appId: $appId) {
          name
          icon
          runningVolumes {
            replicaCount
            actualSize
            size
            humanReadableId
            volumeDefinition {
              name
              description
            }
          }
        }
      }
    }
  }
`);

const { data } = await useAsyncQuery(volumeQuery, {
  appId: params.app,
});

const volume = computed(() =>
  data.value?.users.me.app.runningVolumes.find(
    (volume) => volume.humanReadableId === params.volume,
  ),
);

const breadcrumbPath = useBreadcrumbPath();

// - 1 for the leading slash
const pathLen = path.split("/").length - 1;
breadcrumbPath.value = new Array(pathLen);
breadcrumbPath.value[pathLen - 1] = {
  label: getTranslated(volume.value!.volumeDefinition.name),
};
breadcrumbPath.value[pathLen - 2] = {
  label: getTranslated(data.value!.users.me.app.name),
  icon: data.value!.users.me.app.icon as string,
};

watch(data, () => {
  breadcrumbPath.value[pathLen - 2] = {
    label: getTranslated(data.value!.users.me.app.name),
    icon: data.value!.users.me.app.icon as string,
  };
});
watch(volume, () => {
  breadcrumbPath.value[pathLen - 1] = {
    label: getTranslated(volume.value!.volumeDefinition.name),
  };
});

const replicaCount = ref(volume.value!.replicaCount);
const initialSize = computed(() =>
  round(volume.value!.size / 1024 / 1024 / 1024, 3),
);
const sizeLimit = ref(initialSize.value);

const hasChanged = computed(
  () =>
    replicaCount.value !== volume.value.replicaCount ||
    sizeLimit.value !== initialSize.value,
);

const updateReplicaCountMutation = graphql(`
  mutation updateReplicaCount(
    $appId: String!
    $volumeId: String!
    $replicaCount: Int!
  ) {
    setReplicaCount(appId: $appId, volumeId: $volumeId, replicas: $replicaCount)
  }
`);

const updateSizeMutation = graphql(`
  mutation updateSize($appId: String!, $volumeId: String!, $size: Int!) {
    resizeVolume(appId: $appId, volumeId: $volumeId, size: $size)
  }
`);

const { mutate: updateReplicaCount } = useMutation(updateReplicaCountMutation);
const { mutate: updateSize } = useMutation(updateSizeMutation);

async function save() {
  try {
    isChanging.value = false;
    if (replicaCount.value !== volume.value.replicaCount) {
      await updateReplicaCount({
        appId: params.app,
        volumeId: params.volume,
        replicaCount: replicaCount.value,
      });
    }
    if (sizeLimit.value !== initialSize.value) {
      await updateSize({
        appId: params.app,
        volumeId: params.volume,
        size: Math.round(sizeLimit.value * 1024 * 1024 * 1024),
      });
    }
    await navigateTo(`/storage`);
  } catch (e) {
    console.error(e);
  } finally {
    isChanging.value = false;
  }
}

definePageMeta({
  layout: "authenticated",
});
</script>
