<template>
  <div>
    <div v-if="perm.__typename === 'AppPermission'" class="flex flex-col gap-1">
      <h3>
        <b>{{getTranslated(perm.appName) }}</b
        >: {{ getTranslated(perm.permName) }}
      </h3>
      <p class="text-sm">{{ getTranslated(perm.description) }}</p>
    </div>
    <div
      v-else-if="perm.__typename === 'BuiltinPermission'"
      class="flex flex-row gap-1 items-center"
    >
      <UIcon
        :name="permIcon"
        class="size-8 min-w-8 min-h-8 mr-2 flex-shrink-0"
      />
      <div class="flex flex-col gap-1 w-full">
        <h3
          :class="{
            'text-red-500 dark:text-red-500': dangerLevel == DangerLevel.High,
            'text-yellow-500 dark:text-yellow-500':
              dangerLevel == DangerLevel.Medium,
          }"
        >
          <b>{{ t("permissions.builtin") }}</b
          >: {{ t(`permissions.${perm.permission}.title`) }}
        </h3>
        <p class="text-sm">
          {{ t(`permissions.${perm.permission}.description`) }}
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { DangerLevel, getDangerLevel } from "~/utils/permissions";

type AppPerm =
  | {
      __typename?: "AppPermission";
      appName: Record<string, string>;
      permName: Record<string, string>;
      description: Record<string, string>;
    }
  | { __typename?: "BuiltinPermission"; permission: string };

const props = defineProps({
  perm: {
    type: Object as PropType<AppPerm>,
    required: true,
  },
});

const { getTranslated } = useTranslate();
const { t } = useI18n();

const dangerLevel = computed(() =>
  props.perm.__typename === "BuiltinPermission"
    ? getDangerLevel(props.perm.permission)
    : DangerLevel.None,
);
const permIcon = computed(() => {
  if (dangerLevel.value === DangerLevel.High) {
    return "i-heroicons-shield-exclamation";
  } else if (dangerLevel.value === DangerLevel.Medium) {
    return "i-heroicons-exclamation-circle";
  } else if (
    props.perm.__typename === "BuiltinPermission" &&
    props.perm.permission.startsWith("plugins/")
  ) {
    return "i-heroicons-puzzle-piece";
  } else {
    return "i-heroicons-information-circle";
  }
});
</script>

<style scoped></style>
