<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <UModal
      v-model="show"
      class="bg-inherit text-center text-inherit dark:text-white"
    >
      <CardLayout>
        <template #header>
          <h2 class="text-3xl font-bold">
            {{
              t("apps.post-install.title")
            }}
          </h2>
        </template>
        <p>
          {{ t("apps.post-install.description") }}
        </p>
      </CardLayout>
    </UModal>
  </div>
</template>

<script setup lang="ts">
const emit = defineEmits(["confirm"])

const { t } = useI18n();
</script>
