<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col">
    <div v-if="regularApps?.length !== 0" class="flex-grow flex flex-col">
      <hgroup class="mb-2">
        <h1 class="font-bold text-2xl">
          {{ t("apps.types.regular.title") }}
        </h1>
        <h2>{{ t("apps.types.regular.description") }}</h2>
      </hgroup>
      <div
        class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-9 h-auto w-full"
      >
        <UContextMenu
          v-for="app in regularApps"
          :key="app.id"
          :items="appContextMenuItems(app)"
          size="lg"
        >
          <div class="flex flex-col items-center p-2 cursor-pointer">
            <a
              class="flex flex-col items-center justify-center p-2"
              @click="openApp(app?.id, false)"
            >
              <UChip
                v-if="app.protected || app.paused"
                size="lg"
                position="bottom-right"
                inset
                :ui="{ root: 'ring-0', base: 'rounded-0' }"
              >
                <img
                  :src="app.icon!"
                  class="mb-2 h-16 w-16 rounded"
                  :alt="`${getTranslated(app.name)} logo`"
                  :class="{
                    grayscale: app?.paused,
                  }"
                />

                <template #content>
                  <UAvatar
                    alt="`${app.paused ? 'Paused' : 'Protected'} app`"
                    :icon="
                      app.paused
                        ? 'i-heroicons-pause'
                        : 'i-heroicons-lock-closed'
                    "
                    size="xs"
                    :ui="{ root: 'rounded-md' }"
                    class="shadow-md -mr-2"
                  />
                </template>
              </UChip>
              <img v-else :src="app.icon!" class="mb-2 h-16 w-16 rounded" :alt="`${getTranslated(app.name)} logo`" />
              {{ getTranslated(app.name) }}
            </a>
          </div>
        </UContextMenu>
      </div>
      <div v-if="libraries?.length !== 0">
        <hgroup class="mt-4 mb-2">
          <h1 class="font-bold text-2xl">
            {{ t("apps.types.library.title") }}
          </h1>
          <h2>{{ t("apps.types.library.description") }}</h2>
        </hgroup>
        <div
          class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-9 h-auto w-full"
        >
          <UContextMenu
            v-for="app in libraries"
            :key="app.id"
            :items="appContextMenuItems(app)"
            size="lg"
          >
            <div class="flex flex-col items-center p-2">
              <div class="flex flex-col items-center justify-center p-2">
                <img :src="app.icon!" class="mb-2 h-16 w-16 rounded" :alt="`${getTranslated(app.name)} logo`" />
                {{ getTranslated(app.name) }}
              </div>
            </div>
          </UContextMenu>
        </div>
      </div>
      <div v-if="sysLibs?.length !== 0" class="mt-12">
        <button @click="showAdvanced = !showAdvanced" class="font-600 cursor-pointer">
          {{ showAdvanced ? t("apps.types.sys-libs.hide") : t("apps.types.sys-libs.show") }}
        </button>
      </div>
      <div v-if="sysLibs.length !== 0 && showAdvanced">
        <hgroup class="mt-4 mb-2">
          <h1 class="font-bold text-2xl">
            {{ t("apps.types.sys-libs.title") }}
          </h1>
          <h2>{{ t("apps.types.sys-libs.description") }}</h2>
        </hgroup>
        <div
          class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-9 h-auto w-full"
        >
          <UContextMenu
            v-for="app in sysLibs"
            :key="app.id"
            :items="appContextMenuItems(app)"
            size="lg"
          >
            <div class="flex flex-col items-center p-2">
              <div class="flex flex-col items-center justify-center p-2">
                <img :src="app.icon!" class="mb-2 h-16 w-16 rounded" :alt="`${getTranslated(app.name)} logo`" />
                {{ getTranslated(app.name) }}
              </div>
            </div>
          </UContextMenu>
        </div>
      </div>
    </div>
    <div v-else class="flex flex-col items-center justify-center py-12">
      <h2 class="font-bold text-2xl">
        It seems like you have no apps installed.
      </h2>
      <p class="mb-4">
        Let's get started by installing some apps from the app store.
      </p>
      <NuxtLink to="/app-store">
        <UButton size="lg"> Open App Store</UButton>
      </NuxtLink>
    </div>
    <UModal
      v-model:open="isConfirmUninstall"
      :title="t('apps.uninstall-confirm.title')"
    >
      <template #body>
        <span v-if="uninstallError">{{ uninstallError }}</span>
        <p class="mt-2">
          {{
            t("apps.uninstall-confirm.content", {
              app: getTranslated(selectedAppInfo?.name),
            })
          }}
        </p>
        <div class="flex flex-row justify-end mt-4 gap-2">
          <UButton @click="isConfirmUninstall = false">
            {{ t("apps.uninstall-confirm.cancel") }}
          </UButton>
          <UButton :loading="isUninstalling" @click="uninstall(selectedApp)">
            {{ t("apps.uninstall-confirm.confirm") }}
          </UButton>
        </div>
      </template>
    </UModal>
    <UModal
      v-model:open="isConfirmProtect"
      :title="t('apps.protect-confirm.title')"
    >
      <template #body>
        <p>
          {{
            t("apps.protect-confirm.content", {
              app: getTranslated(selectedAppInfo?.name),
              username: appsInfo?.users.me.username,
            })
          }}
        </p>
        <div class="flex flex-row justify-end mt-4 gap-2">
          <UButton @click="isConfirmProtect = false">
            {{ t("apps.protect-confirm.cancel") }}
          </UButton>
          <UButton :loading="isProtecting" @click="protect(selectedApp)">
            {{ t("apps.protect-confirm.confirm") }}
          </UButton>
        </div>
      </template>
    </UModal>
    <UModal
      v-model:open="isConfirmUnprotect"
      :title="t('apps.unprotect-confirm.title')"
    >
      <template #body>
        <p>
          {{
            t("apps.unprotect-confirm.content", {
              app: getTranslated(selectedAppInfo?.name),
              username: appsInfo?.users.me.username,
            })
          }}
        </p>
        <div class="flex flex-row justify-end mt-4 gap-2">
          <UButton @click="isConfirmUnprotect = false">
            {{ t("apps.unprotect-confirm.cancel") }}
          </UButton>
          <UButton :loading="isUnprotecting" @click="unprotect(selectedApp)">
            {{ t("apps.unprotect-confirm.confirm") }}
          </UButton>
        </div>
      </template>
    </UModal>

    <UModal
      v-model:open="isConfirmPause"
      :title="t('apps.pause-confirm.title')"
    >
      <template #body>
        <p>
          {{
            t("apps.pause-confirm.content", {
              app: getTranslated(selectedAppInfo?.name),
              username: appsInfo?.users.me.username,
            })
          }}
        </p>
        <div class="flex flex-row justify-end mt-4 gap-2">
          <UButton @click="isConfirmProtect = false">
            {{ t("apps.pause-confirm.cancel") }}
          </UButton>
          <UButton :loading="isPausing" @click="pause(selectedApp)">
            {{ t("apps.pause-confirm.confirm") }}
          </UButton>
        </div>
      </template>
    </UModal>
    <UModal
      v-model:open="isConfirmResume"
      :title="t('apps.resume-confirm.title')"
    >
      <template #body>
        <p>
          {{
            t("apps.resume-confirm.content", {
              app: getTranslated(selectedAppInfo?.name),
              username: appsInfo?.users.me.username,
            })
          }}
        </p>
        <div class="flex flex-row justify-end mt-4 gap-2">
          <UButton @click="isConfirmResume = false">
            {{ t("apps.resume-confirm.cancel") }}
          </UButton>
          <UButton :loading="isResuming" @click="resume(selectedApp)">
            {{ t("apps.resume-confirm.confirm") }}
          </UButton>
        </div>
      </template>
    </UModal>

    <UModal
      v-model:open="showCredentials"
      :title="t('apps.default-credentials.title')"
    >
      <template #body>
        <p>
          <UFormField
            v-if="selectedAppInfo?.defaultUsername"
            :label="t('apps.default-credentials.username')"
          >
            <InputCopy :value="selectedAppInfo!.defaultUsername" />
          </UFormField>
          <UFormField
            v-if="selectedAppInfo?.defaultPassword"
            :label="t('apps.default-credentials.password')"
          >
            <InputCopy :value="selectedAppInfo!.defaultPassword" />
          </UFormField>
        </p>
      </template>
    </UModal>
  </div>
</template>

<script setup lang="ts">
import { AppScope } from "~/utils/gql/graphql";

const { t } = useI18n();
const { getTranslated } = useTranslate();

const selectedApp = ref("");
const isConfirmUninstall = ref(false);
const isConfirmProtect = ref(false);
const isConfirmUnprotect = ref(false);
const isConfirmPause = ref(false);
const isConfirmResume = ref(false);
const uninstallError = ref("");
const isUninstalling = ref(false);
const isProtecting = ref(false);
const isUnprotecting = ref(false);
const isPausing = ref(false);
const isResuming = ref(false);
const showCredentials = ref(false);
const showAdvanced = ref(false);

watch([isConfirmUninstall], () => {
  if (!isConfirmUninstall.value) {
    uninstallError.value = "";
  }
});

const regularApps = computed(() =>
  appsInfo.value?.users?.me?.apps
    ?.filter((app) => {
      return app.supportsIngress && app.scope === AppScope.User;
    })
    .sort((a, b) => getTranslated(a.name).localeCompare(getTranslated(b.name))),
);

const libraries = computed(() =>
  appsInfo.value?.users?.me?.apps
    ?.filter((app) => {
      return !app.supportsIngress && app.scope === AppScope.User;
    })
    .sort((a, b) => getTranslated(a.name).localeCompare(getTranslated(b.name))),
);

const sysLibs = computed(() =>
  appsInfo.value?.users?.me?.apps
    ?.filter((app) => {
      return app.scope === AppScope.System;
    })
    .sort((a, b) =>
      a.id == "nirvati"
        ? -1
        : b.id == "nirvati"
          ? 1
          : getTranslated(a.name).localeCompare(getTranslated(b.name)),
    ),
);

const selectedAppInfo = computed(() =>
  appsInfo.value?.users.me.apps.find((app) => app.id === selectedApp.value),
);

const appsQuery = graphql(`
  query getAppOverview {
    users {
      me {
        username
        apps(installedOnly: true) {
          id
          scope
          name
          icon
          defaultUsername
          defaultPassword
          path
          supportsIngress
          protected
          paused
          domains {
            name
          }
        }
      }
    }
  }
`);

const { data: appsInfo, refresh: refreshApps } = await useAsyncQuery(appsQuery);

const appUninstallMut = graphql(`
  mutation uninstallApp($id: String!) {
    uninstallApp(appId: $id)
  }
`);

const appSetProtectionStateMut = graphql(`
  mutation setAppProtectionState($id: String!, $protect: Boolean!) {
    setAppProtected(appId: $id, protected: $protect)
  }
`);

const appPauseMut = graphql(`
  mutation pauseApp($id: String!) {
    pauseApp(appId: $id)
  }
`);

const appResumeMut = graphql(`
  mutation resumeApp($id: String!) {
    unpauseApp(appId: $id)
  }
`);

const { mutate: uninstallApp } = useMutation(appUninstallMut);
const { mutate: setProtectionState } = useMutation(appSetProtectionStateMut);
const { mutate: pauseApp } = useMutation(appPauseMut);
const { mutate: resumeApp } = useMutation(appResumeMut);

const uninstall = async (id: string) => {
  isUninstalling.value = true;
  try {
    await uninstallApp({ id });
  } catch (e) {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    uninstallError.value = (e as any)?.message || e;
    isUninstalling.value = false;
    return;
  }
  isConfirmUninstall.value = false;
  isUninstalling.value = false;
};

const protect = async (id: string) => {
  isProtecting.value = true;
  await setProtectionState({ id, protect: true });
  const interval = setInterval(async () => {
    await refreshApps();
    if (appsInfo.value?.users.me.apps.find((app) => app.id === id)?.protected) {
      clearInterval(interval);
      isConfirmProtect.value = false;
      isProtecting.value = false;
    }
  }, 1000);
};

const unprotect = async (id: string) => {
  isUnprotecting.value = true;
  await setProtectionState({ id, protect: false });
  const interval = setInterval(async () => {
    await refreshApps();
    if (
      !appsInfo.value?.users.me.apps.find((app) => app.id === id)?.protected
    ) {
      clearInterval(interval);
      isConfirmUnprotect.value = false;
      isUnprotecting.value = false;
    }
  }, 1000);
};

const pause = async (id: string) => {
  isPausing.value = true;
  await pauseApp({ id });
  const interval = setInterval(async () => {
    await refreshApps();
    if (appsInfo.value?.users.me.apps.find((app) => app.id === id)?.paused) {
      clearInterval(interval);
      isConfirmPause.value = false;
      isPausing.value = false;
    }
  }, 1000);
};

const resume = async (id: string) => {
  isResuming.value = true;
  await resumeApp({ id });
  const interval = setInterval(async () => {
    await refreshApps();
    if (!appsInfo.value?.users.me.apps.find((app) => app.id === id)?.paused) {
      clearInterval(interval);
      isConfirmResume.value = false;
      isResuming.value = false;
    }
  }, 1000);
};

function openApp(app: string, newWindow: boolean) {
  const appDetails = appsInfo.value?.users.me.apps.find((a) => a.id === app);
  if (newWindow) {
    window.open(
      `https://${appDetails!.domains[0]!.name}${appDetails!.path || "/"}`,
    );
  } else {
    window.location.href = `https://${appDetails!.domains[0]!.name}${appDetails!.path || "/"}`;
  }
}

function appContextMenuItems(app: {
  id: string;
  supportsIngress: boolean;
  scope: AppScope;
  protected: boolean;
  paused: boolean;
  defaultUsername?: string | null;
  defaultPassword?: string | null;
}) {
  const isImportant =
    app.id === "nirvati" ||
    app.id === "coredns" ||
    app.id === "cert-manager" ||
    app.id === "longhorn" ||
    app.id === "system-upgrade-controller" ||
    app.id === "metallb" ||
    app.id === "local-path-provisioner";
  return [
    ...(app.supportsIngress && app.id != "nirvati"
      ? [
          [
            {
              label: t("apps.open-new-tab"),
              onSelect: () => openApp(app.id, true),
              icon: "i-heroicons-arrow-top-right-on-square",
              disabled: app.paused,
            },
            ...(app.defaultUsername || app.defaultPassword
              ? [
                  {
                    label: t("apps.show-default-credentials"),
                    icon: "i-heroicons-key",
                    onSelect: () => {
                      selectedApp.value = app.id;
                      showCredentials.value = true;
                    },
                  },
                ]
              : []),
          ],
        ]
      : []),
    [
      {
        label: t("apps.uninstall"),
        onSelect: () => {
          selectedApp.value = app.id;
          isConfirmUninstall.value = true;
        },
        icon: "i-heroicons-trash",
        disabled: isImportant,
      },
      ...(app.supportsIngress && app.id != "nirvati"
        ? [
            {
              label: app?.protected ? t("apps.unprotect") : t("apps.protect"),
              icon: app.protected
                ? "i-heroicons-lock-open"
                : "i-heroicons-lock-closed",
              onSelect: () => {
                selectedApp.value = app.id;
                if (app.protected) {
                  isConfirmUnprotect.value = true;
                } else {
                  isConfirmProtect.value = true;
                }
              },
            },
          ]
        : []),

      {
        label: app?.paused ? t("apps.resume") : t("apps.pause"),
        disabled: isImportant,
        icon: app.paused ? "i-heroicons-play" : "i-heroicons-pause",
        onSelect: () => {
          selectedApp.value = app.id;
          if (app.paused) {
            isConfirmResume.value = true;
          } else {
            isConfirmPause.value = true;
          }
        },
      },
    ],
  ];
}
</script>
