<template>
  <div>
    <div
      v-for="[setting_id, setting] in Object.entries(settings)"
      :key="setting_id"
      class="flex flex-row gap-2 p-4 items-center justify-between"
    >
      <div>
        <h3 class="font-bold">
          {{ getTranslated(setting.name) }}
        </h3>
        <div>{{ getTranslated(setting.description) }}</div>
      </div>
      <USelect
        v-if="setting.type == 'Enum'"
        v-model="values[setting_id]"
        :items="setting.values"
        class="min-w-fit"
      />
      <UCheckbox
        v-else-if="setting.type == 'Bool'"
        v-model="values[setting_id]"
      />
      <PasswordInput
        v-else-if="
          setting.type == 'String' && setting.string_type == 'password'
        "
        v-model="values[setting_id]"
        :placeholder="getTranslated(setting.placeholder) || ''"
      />
      <UInput
        v-else-if="setting.type == 'String'"
        v-model="values[setting_id]"
        :type="settingTypeToInputType(setting.string_type)"
        :placeholder="getTranslated(setting.placeholder) || ''"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import type { StringType } from "~/utils/customTypes";

const { getTranslated } = useTranslate();
defineProps({
  settings: {
    type: Object as PropType<Record<string, Setting>>,
    required: true,
  },
});

const values = defineModel({
  type: Object,
  required: true,
});

function settingTypeToInputType(type: StringType | null | undefined): string {
  switch (type) {
    case "password":
      return "password";
    case "email":
      return "email";
    case "url":
      return "url";
    default:
      return "text";
  }
}
</script>

<style scoped></style>
