<template>
  <div>
    <UDropdownMenu
      :items="items"
      size="lg"
      :content="{
      align: 'end',
      side: 'bottom',
      sideOffset: 8
    }"
    >
      <UButton
        :label="t('app-store.advanced')"
        icon="i-heroicons-bars-3"
        color="neutral"
        variant="outline"
        size="xl"
      />
      <template #refresh-leading>
        <UIcon name="i-heroicons-arrow-path" class="shrink-0 size-5 animate-spin" v-if="loading" />
        <UIcon name="i-heroicons-cloud-arrow-down" class="shrink-0 size-5 text-[var(--ui-text-dimmed)]" v-else />
      </template>
    </UDropdownMenu>
  </div>
</template>

<script setup lang="ts">
import { refreshStoresMutation } from "~/utils/gql_utils";

const { t } = useI18n();

const { mutate: doRegenerate } = useMutation(generateAppFilesMutation);
const { mutate: doRefresh } = useMutation(refreshStoresMutation);
const loading = ref(false);
const emit = defineEmits(["refresh"]);

const showInstalled = defineModel("showInstalled", {
  type: Boolean,
  required: true,
});

const props = defineProps({
  showStoreManagement: {
    type: Boolean,
    default: true,
  }
});

const sleep = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));

async function doRefreshAndRegen() {
  await doRefresh();
  await doRegenerate();
}

async function refresh() {
  loading.value = true;
  try {
    await Promise.all([doRefreshAndRegen(), sleep(1000)]);
  } catch (e) {
    console.error(e);
  }
  loading.value = false;
  emit("refresh");
}

const items = computed(() => [
  [
    {
      type: "checkbox",
      label: t("app-store.show-installed"),
      checked: showInstalled.value,
      onUpdateChecked: (newVal) => showInstalled.value = newVal,
    },
    ...(props.showStoreManagement ? [
      {
        to: "/app-store/sources",
        label: t("app-store.manage.button"),
        icon: "i-heroicons-link"
      }
    ] : []),
    {
      label: t("app-store.download-new"),
      slot: "refresh",
      onSelect: (e) => {
        e.preventDefault();
        refresh()
      },
    }
  ]
]);
</script>
