<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <UCard
    :ui="{
      ...ui,
      ring: `${ui?.ring ?? ''}`,
      divide: `divide-y divide-gray-100 dark:divide-gray-800 ${
        ui?.divide ?? ''
      }`,
    }"
  >
    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
  </UCard>
</template>

<script setup lang="ts">
defineProps({
  ui: {
    type: Object,
    default: () => ({}),
  },
});
</script>
