<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <UModal
      v-model:open="show"
      class="text-center"
      :title="
        t('citadel.upgrade.title')
      "
    >
      <template #body>
        <p>
          {{ t('citadel.upgrade.description') }}
        </p>
        <div class="flex gap-2 items-center justify-center">
          <UButton
            @click="performUpgrade"
            :loading="loading"
            class="mt-4"
          >
            {{ t('citadel.upgrade.upgrade') }}
          </UButton>
          <UButton
            @click="show = false"
            class="mt-4"
            color="neutral" variant="outline"
          >
            {{ t('citadel.upgrade.cancel') }}
          </UButton>
        </div>
      </template>
    </UModal>
  </div>
</template>

<script setup lang="ts">
const upgradeMutation = graphql(`
  mutation upgradeToCitadel {
    installApp(appId: "citadel-system-wide", settings: {})
  }
`);

const updateNirvatiMutation = graphql(`
  mutation updateNirvati {
    updateApp(appId: "nirvati", skipDownload: true)
  }
`);

const { t } = useI18n();
const show = defineModel<boolean>();

const loading = ref(false);

const mutation = useMutation(upgradeMutation);
const updateNirvati = useMutation(updateNirvatiMutation);

async function performUpgrade() {
  loading.value = true;
  await mutation.mutate();
  await updateNirvati.mutate();
  loading.value = false;
  show.value = false;
  window.location.reload();
}
</script>
