<template>
  <svg fill="none" viewBox="0 0 800.872 800.87201" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(.74708211 0 0 .74708211 65.189188 0)">
      <g fill="#40607d">
        <path d="m304.742 112.004 144-82.2852v128.0002l-144 82.285z"/>
        <path d="m616.742 224-24 16v-128l24-16.0001z"/>
        <path d="m52.6641 256.045 140.0799-80.045v128l-28.016 16.009z"/>
        <path d="m168.742 480 24-16v-52.211l88 50.947v-46.736l24-16 144 82.4v-274.4l-256 148.21v-20.21l-24 16z"/>
        <path d="m728.742 352 167.999-96v443.935c0 71.771-38.457 138.04-100.772 173.648l-347.227 198.417v-560.001l168-95.999v127.999l112-63.999z"/>
      </g>
      <g fill="#6891aa">
        <path d="m448.742 157.719 144 82.285v-128l-144-82.2852z"/>
        <path d="m304.742 240-24-16v-128.0001l24 16.0001z"/>
        <path d="m168.742 352-167.999812-96v443.935c0 71.771 38.457212 138.04 100.771812 173.648l347.228 198.417v-560.001l-168-95.999v127.999l-112-63.999z"/>
        <path d="m704.741 464 24 16v-128l-24-16v20.21l-255.999-148.21v274.4l144-82.4 24 16v46.736l87.999-50.947z"/>
        <path d="m732.757 320.009-28.016-16.009v-128l140.08 80.045z"/>
      </g>
      <g fill="#a2bece">
        <path d="m448.742 29.6 144 82.4 24-16.0001-168-95.9999-168 95.9999 24 16.0001z"/>
        <path d="m280.742 224 24 16 144-82.281 144 82.285 24-16.004 87.999 50.285v29.715l28.016 16.009 112.144-64.009-140.16-80 24-16 168 96-168 96-24-16v20.21l-255.999-148.21-256 148.21v-20.21l-24 16-167.999812-96 167.999812-96 24 16-140.1599 80 112.1459 64.009 28.016-16.009v-29.716z"/>
        <path d="m592.742 400 24 16-168 95.999-168-95.999 24-16 144 82.4z"/>
        <path d="m192.742 411.789 88 50.947v81.263l-112-63.999 24-16z"/>
        <path d="m728.741 480-111.999 63.999v-81.263l87.999-50.947v52.211z"/>
      </g>
    </g>
  </svg>
</template>

<script setup lang="ts">

</script>
