<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex gap-1">
    <button
      class="w-8 text-center flex justify-center font-bold text-lg disabled:text-gray-400 disabled:font-normal "
      :disabled="value <= props.min"
      :class="{
        'cursor-pointer': value > props.min
      }"
      @click="
        value = Number(
          round(
            value - 1 < props.min ? props.min : value - 1,
            props.roundPrecision ?? 0,
          ),
        )
      "
    >
      -
    </button>
    <UInput
      v-model="value"
      :disabled="disabled"
      :ui="{ root: '[appearance:textfield] text-center' }"
      class="w-24"
      :step="Math.pow(10, -(props.roundPrecision ?? 0))"
      @update:model-value="value = $event"
      @focusout="ensureCorrectness"
    />
    <button
      class="w-8 text-center flex justify-center font-bold text-lg disabled:text-gray-400 disabled:font-normal"
      :disabled="value >= props.max"
      :class="{
        'cursor-pointer': value < props.max
      }"
      @click="
        value = Number(
          round(
            value + 1 > props.max ? props.max : value + 1,
            props.roundPrecision ?? 0,
          ),
        )
      "
    >
      +
    </button>
  </div>
</template>

<script setup lang="ts">
const value = defineModel<number>({ required: true });

const props = defineProps({
  min: {
    type: Number,
    default: 0,
  },
  max: {
    type: Number,
    default: Infinity,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  roundPrecision: {
    type: Number as PropType<number | undefined>,
    default: undefined,
    optional: true,
  },
});

function ensureCorrectness() {
  const separator = (1.1).toLocaleString().substring(1, 2);
  const parsedValue =
    typeof value.value === "string"
      ? Number(value.value.replace(separator, "."))
      : value.value;
  if (props.roundPrecision !== undefined) {
    value.value = round(parsedValue, props.roundPrecision);
  }
  if (value.value < props.min) {
    value.value = props.min;
  }
  if (value.value > props.max) {
    value.value = props.max;
  }
}
</script>
