<template>
  <UModal v-model:open="isOpen" :title='t("users.create.title")'>
      <template #body>
        <form class="flex flex-col items-center justify-center gap-4" @submit.prevent="createUser();">
          <UFormField label="Name" class="w-full" required>
            <UInput v-model="name" placeholder="Name" class="w-full" required />
          </UFormField>
          <div class="flex gap-2 w-full">
            <UFormField label="Username" class="flex-grow w-full" required>
              <UInput v-model="username" placeholder="Username" required class="w-full" />
            </UFormField>
            <UFormField label="E-mail" class="flex-grow w-full">
              <UInput v-model="email" placeholder="E-mail" class="w-full" />
            </UFormField>
          </div>
          <UFormField label="Password" class="flex-grow" required>
            <PasswordInput v-model="password" placeholder="Password" type="password" required />
          </UFormField>
          <div class="flex">
            <div>
              <h3 class="mb-2">Standard permissions</h3>
              <UCheckbox
                v-for="perm of defaultPerms"
                :key="perm + perms.includes(perm)"
                :label="translatePerm(perm, t)"
                :model-value="perms.includes(perm)"
                @click.prevent="togglePerm(perm)"

              />
            </div>
            <div
              class="bg-gray-300 dark:bg-gray-700 w-[1px] mx-3 flex-grow h-full min-h-[5rem] my-auto"
            />
            <div>
              <h3 class="mb-2 font-bold">Dangerous permissions</h3>
              <UCheckbox
                v-for="perm of nonDefaultPerms"
                :key="perm + perms.includes(perm)"
                :label="translatePerm(perm, t)"
                :model-value="perms.includes(perm)"
                @click.prevent="togglePerm(perm)"
              />
            </div>
          </div>
          <UCheckbox v-model="showOnLogin" label="Show this account on the login screen" class="mt-2" />
          <UButton class="mt-2" :loading type="submit">Create</UButton>
        </form>
      </template>
  </UModal>
</template>
<script setup lang="ts">
import { translatePerm } from "~/utils/permissions";
import { UserPermission } from "~/utils/gql/graphql";

const sortedPerms: UserPermission[] = [
  "MANAGE_APPS",
  "MANAGE_APP_STORAGE",
  "MANAGE_APP_STORES",
  "MANAGE_DOMAINS",
  "MANAGE_ISSUERS",
  "USE_NIRVATI_ME",
  "MANAGE_PROXIES",
  "CONFIGURE_NETWORK",
  "INSTALL_ROOT_APPS",
  "MANAGE_USERS",
  "ESCALATE",
  "MANAGE_GROUPS",
  "MANAGE_HARDWARE",
  "MANAGE_SYS_COMPONENTS",
  "ADD_TRUSTED_DOMAINS",
] as UserPermission[];

const defaultPerms: UserPermission[] = [
  "MANAGE_APPS",
  "MANAGE_APP_STORAGE",
  "MANAGE_APP_STORES",
  "MANAGE_DOMAINS",
  "MANAGE_ISSUERS",
  "USE_NIRVATI_ME",
  "MANAGE_PROXIES",
] as UserPermission[];

const nonDefaultPerms = sortedPerms.filter(
  (perm) => !defaultPerms.includes(perm),
);

const perms = ref(defaultPerms);

const { t } = useI18n();

function togglePerm(perm: UserPermission) {
  if (perms.value.includes(perm)) {
    perms.value = perms.value.filter((setPerm) => setPerm != perm);
  } else {
    perms.value.push(perm);
  }
}

const username = ref("");
const name = ref("");
const email = ref("");
const password = ref("");
const showOnLogin = ref(false);
const loading = ref(false);

const createUserMutation = graphql(`
mutation createUser($username: String!, $name: String!, $permissions: [UserPermission!]!, $email: String, $showOnLogin: Boolean!, $password: String!) {
    createUser(username: $username, name: $name, email: $email, permissions: $permissions, showOnLoginScreen: $showOnLogin, password: $password)
}`);

const { mutate: performCreateUser } = useMutation(createUserMutation, () => ({
  variables: {
    username: username.value,
    name: name.value,
    email: email.value === "" ? undefined : email.value,
    password: password.value,
    showOnLogin: showOnLogin.value,
    permissions: perms.value,
  },
}));

async function createUser() {
  loading.value = true;
  try {
    await performCreateUser();
    isOpen.value = false;
  } finally {
    loading.value = false;
  }
}

const isOpen = defineModel<boolean>();
</script>

<style scoped></style>
