<template>
  <UModal v-model:open="isOpen" :title="t('users.edit.title')">
    <template #body>
      <form
        class="flex flex-col items-center justify-center gap-4"
        @submit.prevent="editUser()"
      >
        <UFormField label="Name" class="w-full" required>
          <UInput v-model="name" placeholder="Name" readonly autofill="off" class="w-full" />
        </UFormField>
        <div class="flex gap-2 w-full">
          <UFormField label="Username" class="flex-grow w-full">
            <UInput :value="username" placeholder="Username" readonly class="w-full" />
          </UFormField>
          <UFormField label="E-mail" class="flex-grow w-full">
            <UInput v-model="email" placeholder="E-mail" class="w-full" />
          </UFormField>
        </div>
        <UFormField label="Password" class="flex-grow">
          <PasswordInput
            v-model="password"
            placeholder="Password"
            type="password"
          />
        </UFormField>

        <div class="flex">
          <div>
            <h3 class="mb-2">Standard permissions</h3>
            <UCheckbox
              v-for="perm of defaultPerms"
              :key="perm + perms.includes(perm)"
              :label="translatePerm(perm, t)"
              :model-value="perms.includes(perm)"
              @click.prevent="togglePerm(perm)"
            />
          </div>
          <div
            class="bg-gray-300 dark:bg-gray-700 w-[1px] mx-3 flex-grow h-full min-h-[5rem] my-auto"
          />
          <div>
            <h3 class="mb-2 font-bold">Dangerous permissions</h3>
            <UCheckbox
              v-for="perm of nonDefaultPerms"
              :key="perm + perms.includes(perm)"
              :label="translatePerm(perm, t)"
              :model-value="perms.includes(perm)"
              @click.prevent="togglePerm(perm)"
            />
          </div>
        </div>
        <UCheckbox
          v-model="showOnLogin"
          label="Show this account on the login screen"
          class="mt-2"
        />
        <UButton class="mt-2" :loading type="submit"
          >{{ t("users.edit.save") }}
        </UButton>
      </form>
    </template>
  </UModal>
</template>
<script setup lang="ts">
import { translatePerm } from "~/utils/permissions";
import type { UserPermission } from "~/utils/gql/graphql";
import { sleep } from "@antfu/utils";

const sortedPerms: UserPermission[] = [
  "MANAGE_APPS",
  "MANAGE_APP_STORAGE",
  "MANAGE_APP_STORES",
  "MANAGE_DOMAINS",
  "MANAGE_ISSUERS",
  "USE_NIRVATI_ME",
  "MANAGE_PROXIES",
  "CONFIGURE_NETWORK",
  "INSTALL_ROOT_APPS",
  "MANAGE_USERS",
  "ESCALATE",
  "MANAGE_GROUPS",
  "MANAGE_HARDWARE",
  "MANAGE_SYS_COMPONENTS",
  "ADD_TRUSTED_DOMAINS",
] as UserPermission[];

const defaultPerms: UserPermission[] = [
  "MANAGE_APPS",
  "MANAGE_APP_STORAGE",
  "MANAGE_APP_STORES",
  "MANAGE_DOMAINS",
  "MANAGE_ISSUERS",
  "USE_NIRVATI_ME",
  "MANAGE_PROXIES",
] as UserPermission[];

const nonDefaultPerms = sortedPerms.filter(
  (perm) => !defaultPerms.includes(perm),
);

const perms = ref(defaultPerms);

const { t } = useI18n();

function togglePerm(perm: UserPermission) {
  if (perms.value.includes(perm)) {
    if (isMe.value) {
      const { add: toaster } = useToast();
      toaster({
        title: t("users.edit.cant-remove-own-perms.title"),
        description: t("users.edit.cant-remove-own-perms.description"),
        color: "red",
        icon: "i-heroicons-exclamation-circle",
      });
      return;
    }
    perms.value = perms.value.filter((setPerm) => setPerm != perm);
  } else {
    perms.value.push(perm);
  }
}

const props = defineProps({
  username: {
    type: String,
    required: true,
  },
});

const initialDetailsQuery = graphql(`
  query getOtherUserDetails($username: String!) {
    users {
      user(username: $username) {
        name
        email
        permissions
        isPublic
      }
      me {
        username
      }
    }
  }
`);

const {
  load: getUserDetails,
  result: userDetails,
  error,
} = useLazyQuery(initialDetailsQuery);

const name = ref("");
const email = ref("");
const password = ref("");
const showOnLogin = ref(false);
const loading = ref(false);
const isMe = ref(false);

watch(
  () => props.username,
  async () => {
    const queryResult = await getUserDetails(null, {
      username: props.username!,
    });
    await nextTick();
    while (!userDetails.value && !error.value) {
      console.log("No value yet!");
      await sleep(100);
    }
    if (error.value) {
      console.error(error.value);
      return;
    }
    const response =
      typeof queryResult == "object"
        ? queryResult.users
        : userDetails.value.users;
    name.value = response.user.name;
    perms.value = response.user.permissions;
    isMe.value = props.username == response.me.username;
    showOnLogin.value = response.user.isPublic;
  },
);

const editUserMutation = graphql(`
  mutation editUser(
    $username: String!
    $name: String!
    $permissions: [UserPermission!]!
    $email: String
    $showOnLogin: Boolean!
    $password: String
  ) {
    updateUser(
      username: $username
      name: $name
      email: $email
      permissions: $permissions
      showOnLoginScreen: $showOnLogin
      password: $password
    )
  }
`);

const { mutate: performEditUser } = useMutation(editUserMutation, () => ({
  variables: {
    username: props.username,
    name: name.value,
    email: email.value,
    password: password.value ? password.value : undefined,
    showOnLogin: showOnLogin.value,
    permissions: perms.value,
  },
}));

async function editUser() {
  loading.value = true;
  try {
    await performEditUser();
    isOpen.value = false;
  } finally {
    loading.value = false;
  }
}

const isOpen = defineModel<boolean>();
</script>

<style scoped></style>
