<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <ClientOnly>
    <ImgInner :src="src" :dark-src="darkSrc" v-bind="$attrs" />
    <template #fallback>
      <!-- Dark mode is not correctly detected during SSR, so we need to rerender in dark mode on the client -->
      <ImgInner :src="src" v-bind="$attrs" />
    </template>
  </ClientOnly>
</template>

<script setup lang="ts">
defineProps({
  src: {
    type: String,
    required: true,
  },

  darkSrc: {
    type: String,
    required: false,
  },
});
</script>

<style scoped></style>
