<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <img :src="src" >
</template>

<script setup lang="ts">
import { useAsset } from "~/composables/assets";

const props = defineProps({
  src: {
    type: String,
    required: true,
  },

  darkSrc: {
    type: String,
    required: false,
  },
});

const colorMode = useColorMode();

const src = computed(() => {
  if (colorMode.value === "dark" && props.darkSrc) {
    return useAsset(props.darkSrc);
  }

  return useAsset(props.src!);
});
</script>

<style scoped></style>
