<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <USelect v-model="value" :items="items" variant="none" class="pl-24">
    <UIcon name="i-heroicons-globe-alt" class="size-6" />
  </USelect>
</template>

<script setup lang="ts">
const { locales: languages, locale, setLocale } = useI18n();

const items = computed(() =>
  languages.value.map((lang) => ({
    label: lang.name,
    value: lang.code,
  })),
);
const value = ref(locale.value);
watch(value, (newVal) => {
  setLocale(newVal);
});
</script>
