<template>
  <div>
    <DropdownMenuRoot as="div" class="relative inline-block text-left">
      <div>
        <DropdownMenuTrigger
          class="inline-flex w-full justify-center rounded-md py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
        >
          {{ username }}
          <UIcon name="i-heroicons-chevron-down" class="ml-1 size-5" aria-hidden="true" />
        </DropdownMenuTrigger>
      </div>

      <DropdownMenuPortal>
        <DropdownMenuContent
          class="mt-2 w-56 rounded-md bg-white dark:bg-gray-950 dark:text-white shadow-lg ring-1 ring-black/5 focus:outline-none z-10 slideUpAndFade"
          align="end"
          :align-offset="-23"
        >
          <div class="px-1 py-1">
            <DropdownMenuItem
              class="mb-2 data-[highlighted]:bg-gray-50 data-[highlighted]:dark:bg-neutral-800/50 text-gray-900 dark:text-white"
            >
              <NuxtLink
                to="/profile"
                class="group flex w-full items-center rounded-md px-2 py-2 text-sm"
              >
                <UIcon name="i-heroicons-user-circle-20-solid" class="size-5 mr-2" />
                {{ t("profile-menu.profile") }}
              </NuxtLink>
            </DropdownMenuItem>
            <DropdownMenuItem
              class="mb-2 data-[highlighted]:bg-gray-50 data-[highlighted]:dark:bg-neutral-800/50 text-gray-900 dark:text-white cursor-pointer"
            >
              <button
                class="text-gray-900 dark:text-white group flex w-full items-center rounded-md px-2 py-2 text-sm cursor-pointer"
                @click.prevent="logout"
              >
                <UIcon name="i-heroicons-arrow-left-start-on-rectangle-20-solid"  class="size-5 mr-2" />
                {{ t("profile-menu.logout") }}
              </button>
            </DropdownMenuItem>
          </div>
          <div class="px-1 py-2 flex items-center justify-center gap-3 h-12">
            <button
              class="rounded-full p-1 text-yellow-500 dark:text-yellow-400"
              @click="colorMode.preference = 'light'"
            >
              <UIcon
                name="i-heroicons-sun-20-solid"
                class="size-5 dark:size-6 transition-all transition-duration-300 drop-shadow-lg dark:drop-shadow-none dark:cursor-pointer"
              />
            </button>
            <button
              class="rounded-full dark:text-white text-black p-1"
              @click="colorMode.preference = 'dark'"
            >
              <UIcon
                name="i-heroicons-moon-20-solid"
                class="size-4 dark:size-5 transition-all transition-duration-300 dark:drop-shadow-moon cursor-pointer dark:cursor-default"
              />
            </button>
          </div>
        </DropdownMenuContent>
      </DropdownMenuPortal>
    </DropdownMenuRoot>
  </div>
</template>

<script setup lang="ts">
import {
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuPortal,
  DropdownMenuRoot,
  DropdownMenuTrigger,
} from "reka-ui";

defineProps({
  username: {
    type: String,
    required: true,
  },
});

const apollo = useApollo();
const { onLogout } = apollo;
const { t } = useI18n();

async function logout() {
  await onLogout();
  await navigateTo("/login");
}

const colorMode = useColorMode();
</script>

<style>
.dark .dark\:drop-shadow-moon {
  filter: drop-shadow(0 4px 3px rgb(255 255 255 / 0.3))
    drop-shadow(0 2px 2px rgb(255 255 255 / 0.2));
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUpAndFade {
  animation: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
}
</style>
