<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!-- An animated progress bar -->
<!-- The progress is indicated using a Blue bar, while the complete bar is white -->
<!-- The corners are rounded -->
<!-- The blue part has dark blue stripes to indicate the prgress -->
<!-- Using CSS, these are animated to move slowly to the right -->
<template>
  <div
    class="progess-bar min-w-12 relative h-1 rounded-full bg-neutral-100 dark:bg-slate-800"
    aria-label="Progress bar showing loading status"
  >
    <div
      class="percentage absolute left-0 top-0 h-full rounded-full bg-blue-400 transition-all duration-500 dark:bg-blue-500"
      :style="{ width: `${progress}%` }"
    />
  </div>
</template>

<script setup>
defineProps({
  progress: {
    type: Number,
    required: true,
  },
});
</script>

<style scoped>
.percentage {
  animation: progress 2s linear infinite;
  /* A striped background */
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
</style>
