<template>
  <div v-html="dompurify.sanitize(content)" />
</template>

<script setup lang="ts">
import dompurify from "dompurify";

defineProps({
  content: {
    type: String,
    required: true,
  }
});
</script>
