<template>
  <UModal :title="t('profile.auth-settings.setup-passkey.title')" v-model:open="open">
    <slot />
    <template #body>
      <div v-if="finished">
        <p>{{ t("profile.auth-settings.setup-passkey.finished") }}</p>
      </div>
      <form v-else class="flex flex-col gap-2 text-justify" @submit.prevent="setupPasskey">
        <p>{{ t("profile.auth-settings.setup-passkey.text") }}</p>
        <UFormField label="Passkey name" class="block" required>
          <UInput v-model="passkeyName" placeholder="Passkey name" required size="lg" />
        </UFormField>
        <UButton type="submit" :loading :disabled="passkeyName.length === 0">
          {{ t("profile.auth-settings.setup-passkey.continue") }}
        </UButton>
      </form>
    </template>
  </UModal>
</template>

<script setup lang="ts">
const { t } = useI18n();
const loading = ref(false);
const open = ref(false);
const finished = ref(false);
const passkeyName = ref("");

const basicDetailsQuery = graphql(`
  query BasicDetails {
    users {
      me {
        name
        username
      }
    }
  }
`);

const addPubkeyMutation = graphql(`
  mutation AddPubkey($keyId: String!, $pubkey: String!, $displayName: String!, $rpId: String!) {
    addPubkey(keyId: $keyId, pubkeyDer: $pubkey, displayName: $displayName, rpId: $rpId)
  }
`);

const { mutate } = useMutation(addPubkeyMutation);
const { data: myDetails } = await useAsyncQuery(basicDetailsQuery);

function hashUsername(truncateToBytes = 16) {
  const encoder = new TextEncoder();
  const data = encoder.encode(myDetails.value?.users.me.username);
  return crypto.subtle.digest("SHA-256", data).then((hash) => {
    return new Uint8Array(hash).slice(0, truncateToBytes);
  });
}

async function setupPasskey() {
  if (loading.value) {
    return;
  }
  loading.value = true;
  console.log("Setting up passkey");
  console.log(window.location.host);
  const newKey = await navigator.credentials.create({
    publicKey: {
      rp: {
        name: "Nirvati",
        id: window.location.host,
      },
      user: {
        id: await hashUsername(),
        name: myDetails.value?.users.me.username!,
        displayName: myDetails.value?.users.me.name!,
      },
      challenge: new Uint8Array(16),
      pubKeyCredParams: [
        {
          type: "public-key",
          alg: -8,
        },
      ],
      timeout: 60000,
      attestation: "direct",
      authenticatorSelection: {
        requireResidentKey: true,
        userVerification: "required",
      }
    },
  });

  if (!newKey || !newKey.response.getPublicKey()) {
    console.log("No key returned");
    alert("Please try again!");
    return;
  }
  const base64url_encode = (arrayBuffer) => {
    const byteArray = new Uint8Array(arrayBuffer);
    const base64 = btoa(String.fromCharCode(...byteArray));
    return base64.replace(/\+/g, "-").replace(/\//g, "_");
  };
  const padBase64 = (base64) => {
    return base64 + "=".repeat((4 - (base64.length % 4)) % 4);
  };
  await mutate({
    keyId: padBase64(newKey.id),
    pubkey: base64url_encode(newKey.response.getPublicKey()),
    displayName: passkeyName.value,
    rpId: window.location.host,
  });
  loading.value = false;
  finished.value = true;
}

watch(
  () => open.value,
  (newVal) => {
    if (!newVal) {
      finished.value = false;
    }
  },
);
</script>

<style scoped></style>
