<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <UCard
    class="min-h-full"
    :ui="{
      root: 'flex flex-col',
      body: 'h-full flex-grow flex flex-col',
    }"
  >
    <template #header>
      <h1 class="mb-1 text-4xl font-bold">
        {{ t("storage.title") }}
      </h1>
      <h3 class="text-lg">
        {{ t("storage.subtitle") }}
      </h3>
    </template>
    <div class="p-2 pr-4 columns-1 md:columns-2 lg:columns-3">
      <UCard
        v-for="app in sortedApps"
        :key="app.id"
        class="flex-1 basis-full md:basis-[45%] lg:basis-[30%] h-fit break-inside-avoid mb-4"
      >
        <template #header>
          <div class="flex flex-row items-center gap-2">
            <UAvatar :src="app.icon!" class="w-10 h-10" />
            <span class="text-lg">{{ getTranslated(app.name) }}</span>
            <UBadge
              v-if="
                [
                  'nirvati',
                  'cert-manager',
                  'longhorn',
                  'system-upgrade-controller',
                  'coredns',
                  'metallb'
                ].includes(app.id)
              "
            >
              {{ t("apps.system-app") }}
            </UBadge>

            <div
              v-if="app.runningVolumes.length > 0"
              class="mt-auto mb-auto ml-auto flex items-baseline justify-end"
            >
              <span>{{ formatSi(appSums[app.id]?.actualSize || 0) }}</span
              >/<span class="text-lg font-bold">{{
                formatSi(appSums[app.id]?.size || 0)
              }}</span>
            </div>
          </div>
        </template>
        <div class="flex flex-col gap-2">
          <UCard v-for="volume in app.runningVolumes" :key="volume.id">
            <div class="flex">
              <div class="flex flex-col">
                <hgroup>
                  <h1 class="text-lg">
                    {{ getTranslated(volume.volumeDefinition.name) }}
                  </h1>
                  <h3 class="text-sm mb-2">
                    {{ getTranslated(volume.volumeDefinition.description) }}
                  </h3>
                </hgroup>
                <span>{{
                  t("storage.volume.replicas", volume.replicaCount)
                }}</span>
              </div>
              <div
                class="mt-auto mb-auto ml-auto flex items-center justify-center"
              >
                <span>{{ formatSi(volume.actualSize) }}</span
                >/<span class="text-lg font-bold">{{
                  formatSi(volume.size)
                }}</span>
                <NuxtLink
                  class="mb-auto mt-auto ml-4 underline leading-[0]"
                  :to="`/storage/volume/${app.id}/${volume.humanReadableId}`"
                >
                  <UIcon name="i-heroicons-cog-6-tooth" class="h-6 w-6" />
                </NuxtLink>
              </div>
            </div>
          </UCard>
        </div>
      </UCard>
    </div>
  </UCard>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "authenticated",
});

const { t } = useI18n();
const { getTranslated } = useTranslate();

const query = graphql(`
  query storageInfo {
    users {
      me {
        apps(installedOnly: true) {
          name
          icon
          id
          runningVolumes {
            id
            size
            actualSize
            replicaCount
            humanReadableId
            volumeDefinition {
              name
              description
            }
          }
        }
      }
    }
  }
`);

const { data: storageInfo } = await useAsyncQuery(query);

const appSums = computed(() => {
  const sums: Record<string, { size: number; actualSize: number }> = {};
  for (const app of storageInfo.value!.users.me.apps) {
    let size = 0;
    let actualSize = 0;
    for (const volume of app.runningVolumes) {
      size += volume.size;
      actualSize += volume.actualSize;
    }
    sums[app.id] = { size, actualSize };
  }
  return sums;
});

const sortedApps = computed(() =>
  storageInfo
    .value!.users.me.apps.toSorted(
      (a, b) => (appSums.value[b.id]?.actualSize || 0) - (appSums.value[a.id]?.actualSize || 0),
    )
    .filter((app) => app.runningVolumes.length > 0),
);
</script>
