<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <AppPage />
</template>

<script setup lang="ts">
import AppPage from "../../[app].vue";
import { useBreadcrumbPath } from "~/composables/state";

const route = useRoute();

// @ts-expect-error Nuxt typedPages breaks this
const storeId = route.params.source as string;

const storeQuery = graphql(`
  query getStoreBasicById($id: String!) {
    users {
      me {
        store(id: $id) {
          name
          icon
        }
      }
    }
  }
`);

const { data: queriedStore } = await useAsyncQuery(storeQuery, {
  id: storeId,
});

const { getTranslated } = useTranslate();

const store = computed(() => queriedStore.value?.users.me.store);

// TODO: Set path again

definePageMeta({
  layout: "authenticated",
});
</script>
