<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <Html :lang="head.htmlAttrs.lang" :dir="head.htmlAttrs.dir">
    <Head>
      <Title>{{ title }}</Title>
      <template v-for="link in head.link" :key="link.id">
        <Link
          :id="link.id"
          :rel="link.rel"
          :href="link.href"
          :hreflang="link.hreflang"
        />
      </template>
      <template v-for="meta in head.meta" :key="meta.id">
        <Meta :id="meta.id" :property="meta.property" :content="meta.content" />
      </template>
    </Head>
    <Body>
      <UApp :locale="locales[locale]">
        <div v-if="buildType === BuildType.Dtv" class="new-bg-dtv" />
        <div v-if="buildType === BuildType.Citadel" class="new-bg-citadel" />
        <div v-if="buildType === BuildType.Waldbaur" class="new-bg-waldbaur" />
        <div class="min-w-dvw min-h-dvh transition-colors duration-500">
          <NuxtLayout>
            <NuxtPage />
          </NuxtLayout>
        </div>
      </UApp>
    </Body>
  </Html>
</template>

<script setup>
import * as locales from '@nuxt/ui/locale';
import { buildType } from "~/utils/buildType";

const route = useRoute();
const { t, locale } = useI18n();

const head = useLocaleHead({
  dir: true,
  key: "id",
  seo: false,
});

const title = computed(() =>
  buildType === BuildType.Citadel
    ? t("layouts.citadel-title", {
        title: route.meta.title ? t(route.meta.title) : "Dashboard",
      })
    : t("layouts.title", {
        title: route.meta.title ? t(route.meta.title) : "Dashboard",
      }),
);
</script>

<style>
@import "tailwindcss";
@import "@nuxt/ui";

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-x-fade-enter-active,
.slide-x-fade-leave-active,
.slide-y-fade-enter-active,
.slide-y-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-x-fade-enter-from,
.slide-x-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.slide-y-fade-enter-from,
.slide-y-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

@layer transitions {
  *:not(:hover) {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 50ms;
  }
}

body:has(div.new-bg) {
  background: url("~/assets/login-background-nirvati.svg") no-repeat bottom;
  background-size: cover;
}

body:has(div.new-bg):has(div.new-bg-citadel) {
  background: url("~/assets/login-background-citadel.svg") no-repeat bottom;
  background-size: cover;
}

body:has(div.new-bg):has(div.new-bg-dtv) {
  background: url("~/assets/login-background-dtv.svg") no-repeat bottom;
  background-size: cover;
}

body:has(div.new-bg):has(div.new-bg-waldbaur) {
  background: url("~/assets/login-background-waldbaur.svg") no-repeat bottom;
  background-size: cover;
}

@theme {
  --color-nirvati-50: #f5e6fa;
  --color-nirvati-100: #ebccf5;
  --color-nirvati-200: #d699eb;
  --color-nirvati-300: #c166e0;
  --color-nirvati-400: #ac33d6;
  --color-nirvati-500: #800080;
  --color-nirvati-600: #660066;
  --color-nirvati-700: #4c004c;
  --color-nirvati-800: #330033;
  --color-nirvati-900: #310031;
  --color-nirvati-950: #190019;

  --color-citadel-50: #fff8eb;
  --color-citadel-100: #fde9c8;
  --color-citadel-200: #fbd28c;
  --color-citadel-300: #f9b450;
  --color-citadel-400: #f7931a;
  --color-citadel-500: #f1760f;
  --color-citadel-600: #d65309;
  --color-citadel-700: #b1360c;
  --color-citadel-800: #902b10;
  --color-citadel-900: #762311;
  --color-citadel-950: #440f04;

  --color-dtv-50: #fff9eb;
  --color-dtv-100: #fdedc8;
  --color-dtv-200: #fbda8c;
  --color-dtv-300: #f9c150;
  --color-dtv-400: #f8a927;
  --color-dtv-500: #e57f0d;
  --color-dtv-600: #d66209;
  --color-dtv-700: #b1420c;
  --color-dtv-800: #903310;
  --color-dtv-900: #762b11;
  --color-dtv-950: #441404;

  --color-beta-50: #eafff7;
  --color-beta-100: #ccffea;
  --color-beta-200: #9dfddb;
  --color-beta-300: #5ef7ca;
  --color-beta-400: #26e9b6;
  --color-beta-500: #00d09e;
  --color-beta-600: #00a981;
  --color-beta-700: #00886c;
  --color-beta-800: #006b56;
  --color-beta-900: #005849;
  --color-beta-950: #00322a;

  --color-waldbaur-50: #f4f7ee;
  --color-waldbaur-100: #e7eed9;
  --color-waldbaur-200: #d2deb8;
  --color-waldbaur-300: #c8d16d;
  --color-waldbaur-400: #93c54a;
  --color-waldbaur-500: #8db34b;
  --color-waldbaur-600: #3f6135;
  --color-waldbaur-700: #404e29;
  --color-waldbaur-800: #444e2d;
  --color-waldbaur-900: #374227;
  --color-waldbaur-950: #1a2211;
}

body {
  background-color: unset;
}

.dark {
  color-scheme: dark;
}
</style>
