<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <UCard class="min-h-full flex flex-col" :ui="{ body: 'h-full flex-grow flex flex-col' }">
    <template #header>
      <h1 class="mb-1 text-4xl font-bold">
        {{ t("dashboard.title", { name: firstName }) }}
      </h1>
      <h3 class="text-lg">
        {{
          buildType == BuildType.Citadel
            ? t("dashboard.subtitle-citadel")
            : t("dashboard.subtitle")
        }}
      </h3>
    </template>
    <AppsList class="flex-grow" />
  </UCard>
</template>

<script setup lang="ts">
import { BuildType, buildType } from "~/utils/buildType";

definePageMeta({
  layout: "authenticated",
});

const { t } = useI18n();

const userQuery = graphql(`
  query userName {
    users {
      me {
        name
      }
    }
  }
`);

const { data: userInfo } = await useAsyncQuery(userQuery);

const firstName = computed(() => userInfo?.value?.users.me.name.split(" ")[0]);
</script>
