<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex h-dvh flex-col items-center justify-center">
    <h1 v-if="!error" class="mb-4 text-3xl font-bold">
      {{ t("loading.please-wait") }}
    </h1>
    <div v-if="error" class="text-red-500">
      {{ error }}
    </div>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

const query = graphql(`
  query getIsSetup {
    info {
      isUserSetup
    }
  }
`);

const isFinishedQuery = graphql(`
  query getIsSetupFinished {
    info {
      isSetupFinished
    }
  }
`);

const { data: setupState, error } = await useAsyncQuery(query);
const { data: setupFinishedState } = await useAsyncQuery(isFinishedQuery);

const apollo = useApollo();

watch(setupState, async (newVal) => {
  if (newVal?.info.isUserSetup === false) {
    await navigateTo("/setup");
  }
});

if (setupState.value?.info.isUserSetup === false) {
  await navigateTo("/setup");
} else {
  console.log("Checking if login is needed");
  try {
    await refreshJwt(apollo);
    if (setupFinishedState.value?.info.isSetupFinished === false) {
      onMounted(async () => {
        if (window.location.protocol === "https:") {
          await navigateTo("/setup/finish");
        } else {
          await navigateTo("/setup/https-ready");
        }
      });
    } else {
      await navigateTo("/dashboard");
    }
  } catch (e) {
    console.error(e);
    await navigateTo("/login");
  }
}
</script>
