<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div
    class="flex h-dvh flex-col items-center justify-center w-dvw new-bg dark text-white dark:text-white"
  >
    <div
      class="absolute left-0 top-2 pt-2 flex items-center justify-center w-dvw"
    >
      <LanguageToggle class="mx-1" />
    </div>
    <UCard
      class="text-center"
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
      }"
    >
      <template #header>
        <h1 class="text-3xl font-bold">
          {{ t("paused-app.title") }}
        </h1>
      </template>
      <p class="max-w-xl">
        {{ t("paused-app.explanation") }}
      </p>
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

definePageMeta({
  title: "App paused",
});
</script>
