<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <UCard
    class="min-h-full"
    :ui="{
      root: 'flex flex-col',
      body: 'h-full flex-grow flex flex-col',
    }"
  >
    <template #header>
      <h1 class="mb-1 text-4xl font-bold">
        {{ t("profile.title") }}
      </h1>
      <h3 class="text-lg">
        {{ t("profile.subtitle") }}
      </h3>
    </template>
    <div class="flex flex-col h-full flex-grow gap-4">
      <div>
        <hgroup class="mb-4">
          <h2 class="font-bold text-2xl">{{ t("profile.details.title") }}</h2>
          <h3 class="text-lg">{{ t("profile.details.subtitle") }}</h3>
        </hgroup>
        <!-- Profile details -->
        <form class="flex flex-col gap-2">
          <UFormField :label="t('profile.details.name')">
            <UInput v-model="name" />
          </UFormField>
          <UFormField :label="t('profile.details.email')">
            <UInput v-model="email" />
          </UFormField>
          <UButton type="submit" class="w-max" :loading>{{ t("profile.details.save") }}</UButton>
        </form>
      </div>
      <div>
        <hgroup class="mb-4">
          <h2 class="font-bold text-2xl">{{ t("profile.auth-settings.title") }}</h2>
          <h3 class="text-lg">{{ t("profile.auth-settings.subtitle") }}</h3>
        </hgroup>
        <UTable :data="data.users.me.passkeys" :columns="columns" class="flex-1" />
        <span>{{ error }}</span>
        <SetupPasskeyModal>
          <UButton>{{ t("profile.auth-settings.setup-passkey.button") }}</UButton>
        </SetupPasskeyModal>
      </div>
    </div>
  </UCard>
</template>

<script setup lang="ts">
import { h, resolveComponent } from 'vue'
import type { TableColumn } from '@nuxt/ui/dist/runtime/components/Table.vue'
import type { Row } from '@tanstack/vue-table'

const { locale } = useI18n();
const UButton = resolveComponent('UButton')
const UBadge = resolveComponent('UBadge')
const UDropdownMenu = resolveComponent('UDropdownMenu')
const NuxtLink = resolveComponent('NuxtLink')

const existingPasskeys = graphql(`
  query existingPasskeys {
    users {
      me {
        passkeys {
          displayName
          rpId
          createdAt
          keyIdBase64
        }
      }
    }
}`);

const deletePasskeyMutation = graphql(`
  mutation deletePasskey($id: String!) {
    removePubkey(keyId: $id)
  }
`);

const { data, error, refresh } = await useAsyncQuery(existingPasskeys);
const { mutate: deletePasskey } = useMutation(deletePasskeyMutation);

type Passkey = {
  displayName: string;
  createdAt: string;
  rpId: string;
  keyIdBase64: string;
}

const columns: TableColumn<Passkey>[] = [
  {
    accessorKey: 'displayName',
    header: 'Name',
  },
  {
    accessorKey: 'createdAt',
    header: 'Created at',
    cell: ({ row }) => {
      return new Date(row.getValue('createdAt')).toLocaleString(locale.value, {
        day: 'numeric',
        month: 'short',
        year: "numeric",
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      })
    }
  },
  {
    accessorKey: 'rpId',
    header: 'Valid on',
    cell: ({ row }) => {
      return h(
        NuxtLink,
        {
          to: `https://${row.getValue('rpId')}`,
          class: "text-underline text-blue-500"
        },
        () => row.getValue('rpId')
      )
    }
  },
  {
    id: 'actions',
    cell: ({ row }) => {
      return h(
        'div',
        { class: 'text-right' },
        h(
          UDropdownMenu,
          {
            content: {
              align: 'end'
            },
            items: getRowItems(row)
          },
          () =>
            h(UButton, {
              icon: 'i-lucide-ellipsis-vertical',
              color: 'neutral',
              variant: 'ghost',
              class: 'ml-auto'
            })
        )
      )
    }
  }
]

function getRowItems(row: Row<Passkey>) {
  return [
    {
      type: 'label',
      label: 'Actions'
    },
    {
      label: 'Delete',
      onSelect: async () => {
        console.log('Delete', row.original);
        await deletePasskey({ id: row.original.keyIdBase64 });
        await refresh();
      },
      icon: 'i-heroicons-trash',
    }
  ]
}

const { t } = useI18n();
const name = ref("");
const email = ref("");
const loading = ref(false);

definePageMeta({
  layout: "authenticated",
});
</script>
