<template>
  <div class="w-full h-full">
    <UCard class="w-full h-full" :ui="{ body: 'h-full px-0 py-0 sm:p-0' }">
      <iframe
        ref="targetIframe"
        :src="targetPath"
        class="w-full h-full flex-grow rounded-lg"
        sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-downloads allow-modals allow-popups-to-escape-sandbox"
        @load="notifyIframeSettings"
      />
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { params } = useRoute();
const targetIframe = ref<HTMLIFrameElement | null>(null);
const { getTranslated } = useTranslate();

definePageMeta({
  layout: "authenticated",
});

const appQuery = graphql(`
  query getApp($id: String!) {
    users {
      me {
        app(appId: $id) {
          domains {
            name
          }
          installed
          name
          icon
        }
      }
    }
  }
`);

const pluginJwtQuery = graphql(`
  query getPluginJwt($audience: String!) {
    users {
      me {
        jwt(audience: [$audience])
      }
    }
  }
`);

const { load, refetch, result } = useLazyQuery(pluginJwtQuery, {
  audience: `app-${params.app}`,
});

async function getJwt() {
  await load();
  await refetch();
  return result.value?.users.me.jwt;
}

const { data: appData } = await useAsyncQuery(appQuery, {
  id: params.app,
});

if (appData.value?.users.me.app && !appData.value?.users.me.app.installed) {
  navigateTo(`/app-store/${params.app}`);
}

const targetPath = computed(() => {
  //return "http://localhost:3000/";
  const domain = appData.value?.users.me.app?.domains[0].name;
  const path = params.path ? params.path.join("/") : "";
  return "https://" + `${domain}/${path}`
    .replaceAll("//", "/")
    .replaceAll("//", "/");
});

const targetOrigin = computed(() => {
  const parsedTarget = new URL(targetPath.value);
  return parsedTarget.origin;
});

type MessageData = {
  action: string;
  data: any;
};

const breadcrumbPath = useBreadcrumbPath();
const { add: toaster } = useToast();

onMounted(() => {
  window.onmessage = async (event) => {
    console.log(event);
    const data: MessageData = event.data;
    switch (data.action) {
      case "requestJwt": {
        const jwt = await getJwt();
        targetIframe.value?.contentWindow?.postMessage(
          {
            action: "setJwt",
            data: jwt,
          },
          targetOrigin.value,
        );
        break;
      }
      case "requestLocale": {
        targetIframe.value?.contentWindow?.postMessage(
          {
            action: "locale",
            data: locale.value,
          },
          targetOrigin.value,
        );
        break;
      }
      case "navigate": {
        if (typeof data.data !== "string") {
          console.warn("Invalid data type for navigate", data.data);
          return;
        }
        if (!data.data.startsWith("/")) {
          console.warn("Invalid path for navigate", data.data);
          return;
        }
        if (data.data.includes("..")) {
          console.warn("Invalid path for navigate", data.data);
          return;
        }
        navigateTo("/plugin/" + params.app + data.data);
        break;
      }
      case "toast": {
        if (typeof data.data !== "object") {
          console.warn("Invalid data type for toast", data.data);
          return;
        }
        if (typeof data.data.title !== "string") {
          console.warn("Invalid data type for toast", data.data);
          return;
        }
        if (typeof data.data.description !== "string") {
          console.warn("Invalid data type for toast", data.data);
          return;
        }
        if (typeof data.data.color !== "string") {
          console.warn("Invalid data type for toast", data.data);
          return;
        }
        if (typeof data.data.icon !== "string") {
          console.warn("Invalid data type for toast", data.data);
          return;
        }
        toaster({
          title: data.data.title,
          description: data.data.description,
          color: data.data.color,
          icon: data.data.icon,
        });
      }
      case "breadcrumb": {
        if (!Array.isArray(data.data)) {
          console.warn("Invalid data type for breadcrumb", data.data);
          return;
        }
        for (let i = 0; i < data.data.length; i++) {
          if (
            Object.keys(data.data[i]).find(
              (key) => key !== "label" && key !== "icon",
            )
          ) {
            console.warn("Invalid data type for breadcrumb", data.data);
            continue;
          }
          breadcrumbPath.value[i + 1] = data.data[i];
        }
      }
    }
  };
});

async function notifyIframeSettings() {
  while (true) {
    const iframe = targetIframe.value!;
    if (iframe && iframe.contentWindow) {
      iframe.contentWindow.postMessage(
        {
          action: "colorMode",
          data: colorMode.value,
        },
        "*",
      );
      iframe.contentWindow.postMessage(
        {
          action: "locale",
          data: locale.value,
        },
        "*",
      );
      console.log("Sent data to iframe");
      console.log({
        colorMode: colorMode.value,
        locale: locale.value,
      });
      break;
    }
    console.log("Waiting for iframe to load");
    await new Promise((resolve) => setTimeout(resolve, 1000));
  }
}

const colorMode = useColorMode();
breadcrumbPath.value = [
  {
    label: getTranslated(appData.value?.users.me.app?.name) || "App",
    icon: appData.value?.users.me.app?.icon || "",
    to: "/plugin/" + params.app + "/",
  },
];

function setBreadcrumbPath() {
  breadcrumbPath.value[0] = {
    label: getTranslated(appData.value?.users.me.app?.name),
    icon: appData.value?.users.me.app?.icon,
    to: "/plugin/" + params.app + "/",
  };
}

watch(appData, setBreadcrumbPath, { immediate: true });

watch(colorMode, () => {
  const iframe = targetIframe.value!;
  if (iframe) {
    iframe.contentWindow?.postMessage(
      {
        action: "colorMode",
        data: colorMode.value,
      },
      "*",
    );
  }
});

const { locale } = useI18n();
watch(locale, () => {
  const iframe = targetIframe.value!;
  if (iframe) {
    iframe.contentWindow?.postMessage(
      {
        action: "locale",
        data: locale.value,
      },
      "*",
    );
  }
});
</script>
