<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <UCard>
    <div class="flex flex-col items-center p-2 h-full">
      <p class="mb-6">
        {{ t("https.connected-domains.explanation") }}
      </p>
      <form class="flex gap-4 flex-col" @submit.prevent="setupDomain">
        <UFormField label="Domain DNS provider" class="block">
          <USelect
            v-model="provider"
            size="lg"
            class="w-full"
            :placeholder="t('https.connected-domains.provider')"
            :items="['Cloudflare™', 'Other']"
          />
        </UFormField>
        <div class="flex gap-2">
          <UFormField label="Your domain">
            <UInput v-model="domain" placeholder="Domain" required size="lg" />
          </UFormField>
          <UFormField
            v-if="provider === 'Cloudflare™'"
            label="Your API access token"
          >
            <UInput v-model="auth" placeholder="API token" size="lg" required />
          </UFormField>
        </div>
        <UButton type="submit" size="lg" :ui="{ root: 'flex justify-center' }">
          {{ t("https.connected-domains.setup.submit") }}
        </UButton>
      </form>
      <div v-if="showValidation">
        CREATE VALIDATION DNS RECORD
      </div>
    </div>
  </UCard>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "authenticated",
});

const { t } = useI18n();
const router = useRouter();
const auth = ref("");
const domain = ref("");
const provider = ref("");
const showValidation = ref(false);

const enabledAcmeProvidersQuery = graphql(`
  query getEnabledAcmeProviders {
    users {
      me {
        acmeProviders
        permissions
      }
    }
  }
`);

const verificationCodeQuery = graphql(`
  query getVerificationCode($domain: String!) {
    users {
      me {
        domainVerificationCode(domain: $domain)
      }
    }
  }
`);

const { start, refetch, result: verificationCode } = useQuery(verificationCodeQuery);


const { data: enabledAcmeProviders } = await useAsyncQuery(
  enabledAcmeProvidersQuery,
);

const { mutate: addDomain } = useMutation(
  addDomainMutation,
  computed(() => ({
    variables: {
      domain: domain.value,
      dnsProvider: getDnsProvider(provider.value),
      auth: auth.value,
      acmeProviders: enabledAcmeProviders.value.users.me.acmeProviders,
    },
  })),
);

const canBypassVerification = computed(() => enabledAcmeProviders.value.users.me.permissions.includes(UserPermission.AddTrustedDomains));

async function setupDomain(isLastStep?: boolean) {
  if (!canBypassVerification.value && !isLastStep) {
    showValidation.value = true;
    return;
  }
  await addDomain();
  router.back();
}
</script>
