<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <CardLayout>
    <span v-if="error" class="text-red-300 dark:text-red-700">{{ error }}</span>
    <div
      v-else
      class="grid h-auto w-full grid-cols-1 md:lg:grid-cols-2 xl:grid-cols-3 gap-4"
    >
      <UCard
        v-for="domain in data?.users.me.domains"
        :key="domain.domain"
        :ui="{ body: 'h-full flex items-center justify-center' }"
      >
        <img
          v-if="domain.dnsProvider == DnsProvider.Cloudflare"
          alt="Cloudflare logo"
          src="@/assets/cloudflare.svg"
          class="mb-2 h-14 rounded"
        >
        <img
          v-if="domain.dnsProvider == DnsProvider.NirvatiMe"
          alt="Nirvati logo"
          src="@/assets/nirvati-logo.svg"
          class="mb-2 h-14 rounded"
        >
        <div class="ml-6 flex flex-col justify-center">
          <h2 class="text-bold text-2xl">
            {{ domain.domain }}
          </h2>
          <span class="text-sm text-gray-400">{{
            getDnsProviderString(domain.dnsProvider)
          }}</span>
          <!-- TODO: Add checks if domain is in use & confirm modal, then remove the DevOnly -->
          <DevOnly>
            <button
              class="text-sm underline w-fit"
              @click.prevent="removeDomain({ domain: domain.domain })"
            >
              {{ t("https.connected-domains.remove") }}
            </button>
          </DevOnly>
        </div>
      </UCard>
      <NuxtLink to="/https/domains/connect">
        <UCard>
          <!-- -->
          <!-- <img :src="TODO" class="mb-2 h-32 w-32 rounded" /> -->
          <div class="ml-6 flex flex-col justify-center">
            <h2 class="text-bold text-2xl">
              {{ t("https.connected-domains.add-new") }}
            </h2>
            <span class="text-sm text-gray-400">{{
              t("https.connected-domains.add-new-subtitle")
            }}</span>
          </div>
        </UCard>
      </NuxtLink>
    </div>
  </CardLayout>
</template>

<script setup lang="ts">
import { DnsProvider } from "~/utils/gql/graphql";

definePageMeta({
  layout: "authenticated",
});

const { t } = useI18n();

const linkedDomainsQuery = graphql(`
  query getLinkedDomains {
    users {
      me {
        domains {
          domain
          dnsProvider
        }
      }
    }
  }
`);

const { data, error } = await useAsyncQuery(linkedDomainsQuery);

const { mutate: removeDomain } = useMutation(removeDomainMutation);
</script>
