<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="min-h-full flex flex-col">
    <UAlert
      icon="i-heroicons-exclamation-triangle"
      color="warning"
      :timeout="0"
      :title="t('users.beta-note.title')"
      :description="t('users.beta-note.description')"
      class="mb-4"
    />
    <UCard
      class="flex-grow"
      :ui="{
        root: 'flex flex-col',
        body: 'h-full flex-grow flex flex-col',
      }"
    >
      <template #header>
        <h1 class="text-4xl font-bold">
          {{ t("users.title") }}
        </h1>
        <span class="max-w-lg text-center">
          {{ t("users.subtitle") }}
        </span>
      </template>
      <div>
        TODO
      </div>
    </UCard>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "authenticated",
});

const { t } = useI18n();


const usersQuery = graphql(`
  query getUsers {
    users {
      users {
        name
        username
        email
        createdAt
      }
    }
  }
`);

const { data: users, refresh } = await useAsyncQuery(usersQuery);

</script>
