<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="min-h-full flex flex-col">
    <UAlert
      icon="i-heroicons-exclamation-triangle"
      color="warning"
      :timeout="0"
      :title="t('users.beta-note.title')"
      :description="t('users.beta-note.description')"
      class="mb-4"
    />
    <UCard
      class="flex-grow"
      :ui="{
        root: 'flex flex-col',
        body: 'h-full flex-grow flex flex-col',
      }"
    >
      <template #header>
        <div class="flex flex-row">
          <div class="flex-col gap-1">
            <h1 class="text-4xl font-bold">
              {{ t("users.title") }}
            </h1>
            <span class="max-w-lg text-center">
              {{ t("users.subtitle") }}
            </span>
          </div>
          <div class="flex flex-col gap-3 ml-auto mr-2 justify-center">
            <button
              class="flex cursor-pointer flex-row items-center text-sm"
              @click="createUser = true"
            >
              <UIcon name="i-heroicons-plus" class="mr-2 h-6 w-6" />
              <span class="text-lg">{{ t("users.create.button") }}</span>
            </button>
          </div>
        </div>
      </template>
      <div>
        <UTable :data="userAccounts" :columns="columns" />
        <div
          class="flex justify-end px-3 py-3.5 border-t border-gray-200 dark:border-gray-700"
        >
          <UPagination
            v-model:page="page"
            :items-per-page="10"
            :total="users.users.users.length"
          />
        </div>
      </div>
    </UCard>
    <CreateUserModal v-model="createUser" />
    <EditUserModal v-model="editUser" :username="selectedUser" />
  </div>
</template>

<script setup lang="ts">
import CreateUserModal from "~/components/CreateUserModal.vue";
import type { Row } from "@tanstack/vue-table";

const UButton = resolveComponent("UButton");
const UDropdownMenu = resolveComponent("UDropdownMenu");

definePageMeta({
  layout: "authenticated",
});

const { t, locale } = useI18n();
const page = ref(1);
const createUser = ref(false);
const selectedUser = ref("");
const editUser = ref(false);
const sort = ref({
  column: "username",
  direction: "asc",
});

const usersQuery = graphql(`
  query getUsers {
    users {
      users {
        name
        username
        email
        createdAt
      }
    }
  }
`);

const { data: users, refresh } = await useAsyncQuery(usersQuery);

watch(createUser, (newVal) => {
  if (!newVal) refresh();
});

watch(editUser, (newVal) => {
  if (!newVal) refresh();
});

const columns: TableColumn<{
  username: string;
  name: string;
  email: string;
  createdAt: string;
}>[] = [
  {
    accessorKey: "username",
    header: "Username",
  },
  {
    accessorKey: "name",
    header: "Name",
  },
  {
    accessorKey: "email",
    header: "E mail address",
  },
  {
    accessorKey: "createdAt",
    header: "Created at",
    cell: ({ row }) => {
      return new Date(row.getValue("createdAt")).toLocaleString(locale.value, {
        day: "numeric",
        month: "short",
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
        year: "numeric"
      });
    },
  },
  {
    id: "actions",
    cell: ({ row }) => {
      return h(
        "div",
        { class: "text-right" },
        h(
          UDropdownMenu,
          {
            content: {
              align: "end",
            },
            items: getRowItems(row),
          },
          () =>
            h(UButton, {
              icon: "i-lucide-ellipsis-vertical",
              color: "neutral",
              variant: "ghost",
              class: "ml-auto",
            }),
        ),
      );
    },
  },
];

function getRowItems(
  row: Row<{
    username: string;
    name: string;
    email: string;
    createdAt: string;
  }>,
) {
  return [
    [
      {
        label: "View details",
        icon: "i-heroicons-document-magnifying-glass-20-solid",
        onSelect: () => {
          navigateTo("/users/" + row.getValue("username"));
        },
      },
      {
        label: "Edit",
        icon: "i-heroicons-pencil-square-20-solid",
        onSelect: () => {
          selectedUser.value =  row.getValue("username");
          editUser.value = true;
        },
      },
    ],
    [
      {
        label: "Pause",
        icon: "i-heroicons-pause-20-solid",
        disabled: true,
      },
      {
        label: "Delete",
        icon: "i-heroicons-trash-20-solid",
        disabled: true,
      },
    ],
  ];
}

const userAccounts = computed(() =>
  users.value?.users.users
    .filter((user) => user.username != "system")
    .sort((a, b) => {
      return sort.value.direction === "asc"
        ? a[sort.value.column].localeCompare(b[sort.value.column])
        : b[sort.value.column].localeCompare(a[sort.value.column]);
    })
    .slice((page.value - 1) * 10, page.value * 10),
);
</script>
