<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="h-dvh overflow-hidden pt-2">
    <div class="right-3 top-3 h-16 mb-4 px-2 lg:ml-[20%] lg:pl-4">
      <UCard
        class="hidden h-16 items-center justify-center lg:flex w-full"
        :ui="{
          root: 'ring-0',
          body: 'flex flex-row justify-end items-center w-full',
        }"
      >
        <UBreadcrumb :items="breadCrumbLinks" class="mr-auto">
          <template #item-leading="{ item }">
            <CitadelLogo
              v-if="item.icon === 'citadel' || item.icon === 'i-citadel'"
            />
            <UIcon
              v-else-if="item.icon?.startsWith('i-')"
              :name="item.icon"
              class="flex-shrink-0 w-4 h-4"
            />
            <Purifier
              v-else-if="item.icon?.startsWith('<svg')"
              :content="item.icon"
            />
            <img
              v-else-if="item.icon"
              class="h-4 w-4 rounded"
              :src="item.icon"
              :alt="item.label + ' icon'"
            />
          </template>
        </UBreadcrumb>
        <!-- <UChip
          text="3"
          size="xl"
          class="mr-2"
        >
          <UIcon
            name="i-heroicons-bell"
            class="h-6 w-6 cursor-pointer"
          />
        </UChip> -->
        <LanguageToggle class="mr-3" />
        <ProfileMenu :username="userInfo.data?.value?.users.me.name" />
      </UCard>
      <UIcon
        class="size-6 cursor-pointer lg:hidden ml-auto mt-2 mr-2"
        name="i-heroicons-bars-3"
        @click="showMenu = !showMenu"
      />
    </div>
    <div
      class="absolute left-0 top-0 h-dvh w-[calc(100vw-3rem)] flex-col p-4 lg:flex lg:w-[20%] bg-white dark:bg-neutral-900 z-10"
      :class="{
        flex: showMenu,
        hidden: !showMenu,
      }"
    >
      <UNavigationMenu
        orientation="vertical"
        :items="links"
        :ui="{ link: 'h-12 my-2' }"
      >
        <template #item-leading="{ item }">
          <CitadelLogo
            v-if="item.icon === 'citadel' || item.icon === 'i-citadel'"
            class="size-6"
          />
          <Purifier
            v-else-if="item.icon?.startsWith('<svg')"
            class="z-10 size-6"
            :content="item.icon"
          />
          <img
            v-else-if="item.icon?.startsWith('http')"
            class="size-6 rounded"
            :src="item.icon"
            :alt="item.label + ' icon'"
          />
          <UIcon v-else :name="item.icon" class="flex-shrink-0 size-6" />
        </template>
      </UNavigationMenu>
      <NuxtLink
        to="/donate"
        class="group mt-auto flex w-full items-center justify-center p-3 rounded"
        :class="{
          'bg-nirvati-300 dark:bg-nirvati-500': buildType != BuildType.Citadel,
          'bg-citadel-400 dark:bg-citadel-500': buildType == BuildType.Citadel,
        }"
        @click="showMenu = false"
      >
        <UIcon
          name="i-heroicons-heart"
          class="my-[0.125rem] ml-1 h-6 w-6 transition-all duration-200 group-hover:my-0 group-hover:ml-0 group-hover:h-7 group-hover:w-7"
        />
        <span class="ml-2">{{ t("donate.title") }}</span>
      </NuxtLink>
      <p class="mx-auto text-sm text-gray-500 mt-2">
        <span>{{
          buildType == BuildType.Citadel
            ? t("citadel.version", {
                version: userInfo.data?.value?.users.me.app.version || "",
              })
            : t("nirvati.version", {
                version: userInfo.data?.value?.users.me.app.version || "",
              })
        }}</span>
        <span
          v-if="
            buildType != BuildType.Standard && buildType != BuildType.Citadel
          "
          class="mx-1"
          >•</span
        >
        <span v-if="buildType == BuildType.Beta">Preview</span>
        <span v-else-if="buildType == BuildType.Dtv">DTV edition</span>
        <span v-else-if="buildType == BuildType.Waldbaur"
          >Waldbaur edition</span
        >
      </p>
    </div>
    <div
      class="h-[calc(100vh-6rem)] overflow-scroll px-2 lg:ml-[20%] lg:pl-4 py-2"
    >
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useBreadcrumbPath } from "~/composables/state";
import { BuildType, buildType } from "~/utils/buildType";
import { UserPermission } from "~/utils/gql/graphql";

const showMenu = ref(false);
const interval = ref(0);

const apollo = useApollo();
const { t } = useI18n();
const { onLogout } = apollo;
const { getTranslated } = useTranslate();

onMounted(async () => {
  try {
    await refreshJwt(apollo);
  } catch (e) {
    console.warn(e);
    await onLogout();
    await navigateTo("/login");
  }
  interval.value = window.setInterval(async () => {
    try {
      await refreshJwt(apollo);
    } catch (e) {
      console.warn(e);
      await onLogout();
      await navigateTo("/login");
    }
  }, 60 * 1000);
});

onBeforeUnmount(() => {
  window.clearInterval(interval.value);
});

const userQuery = graphql(`
  query userDetails {
    users {
      me {
        name
        permissions
        apps(installedOnly: true) {
          id
          uiModule {
            menuEntries {
              name
              icon
              path
            }
          }
        }
        app(appId: "nirvati") {
          version
        }
      }
    }
  }
`);
const userInfo = await useAsyncQuery(userQuery);

const hideMenu = () => {
  setTimeout(() => {
    showMenu.value = false;
  }, 250);
};

const builtinLinks = [
  {
    label: t("dashboard.sidebar"),
    icon: "i-heroicons-home",
    to: "/dashboard",
    onSelect: hideMenu,
  },
];

const builtinRoutes = [
  ...builtinLinks,
  {
    label: "My profile",
    icon: "i-heroicons-user-circle",
    to: "/profile",
  },
  {
    label: "Sources",
    icon: "i-heroicons-cloud-arrow-down",
    to: "/app-store/sources",
  },
  {
    label: "Add new",
    icon: "i-heroicons-plus-circle",
    to: "/app-store/sources/add",
  },
  {
    label: "Volumes",
    icon: "i-heroicons-archive-box",
    to: "/storage/volume",
  },
  {
    label: "Connected domains",
    icon: "i-heroicons-globe-alt",
    to: "/https/domains",
  },
  {
    label: "Add new",
    icon: "i-heroicons-plus-circle",
    to: "/https/domains/connect",
  },
  {
    label: "nirvati.me",
    icon: "i-heroicons-plus-circle",
    to: "/https/domains/nirvati-me",
  },
  {
    label: "Donate",
    icon: "i-heroicons-heart",
    to: "/donate",
  },
  {
    label: t("proxies.title"),
    icon: "i-ph-planet",
    to: "/https/proxies",
  },
  // TODO: This is duplicated, remove that
  {
    label: t("app-store.title"),
    icon: "i-heroicons-squares-plus",
    to: "/app-store",
    onSelect: hideMenu,
  },
  {
    label: t("https.title"),
    icon: "i-heroicons-lock-closed",
    to: "/https",
    onSelect: hideMenu,
  },
  {
    label: t("storage.title"),
    icon: "i-heroicons-circle-stack",
    to: "/storage",
    onSelect: hideMenu,
  },
  {
    label: t("updates.title"),
    icon: "i-heroicons-arrow-path",
    to: "/updates",
    onSelect: hideMenu,
  },
  {
    label: t("users.title"),
    icon: "i-heroicons-users",
    to: "/users",
    onSelect: hideMenu,
  },
  {
    label: t("servers.title"),
    icon: "i-heroicons-server-stack",
    to: "/servers",
    onSelect: hideMenu,
  },
];

const route = useRoute();

const routePaths = computed(() =>
  route.path.split("/").filter((part) => part.length > 0),
);

const breadcrumbPath = useBreadcrumbPath();

const breadCrumbLinks = computed(() => {
  const base =
    breadcrumbPath.value.length > 0 ? breadcrumbPath.value : routePaths.value;
  for (let i = 0; i < base.length; i++) {
    if (!base[i]) {
      base[i] = undefined;
    }
  }
  const newLinks: BreadcrumbLink[] = base.map((part, index) => {
    let link = routePaths.value.slice(0, index + 1).join("/");
    if (link.startsWith("plugin")) {
      link = routePaths.value.slice(0, index + 2).join("/");
    }
    if (part && typeof part === "object") {
      return { to: "/" + link, ...part };
    }
    const foundLink = builtinRoutes.find((l) => l.to === "/" + link);
    if (foundLink) {
      return foundLink;
    } else {
      return {
        label: routePaths.value[index],
        to: "/" + link,
      };
    }
  });
  return newLinks;
});

const links = computed(() => {
  const apps = userInfo.data?.value?.users.me.apps || [];
  const perms = userInfo.data?.value?.users.me.permissions || [];
  const builtinAdditions = [];
  const appAdditions = [];
  for (const app of apps) {
    if (
      !app.uiModule ||
      app.id !== "citadel" ||
      buildType !== BuildType.Citadel
    ) {
      continue;
    }
    const menuEntries = app.uiModule.menuEntries;
    builtinAdditions.push({
      label: "Citadel",
      icon: "citadel",
      children: menuEntries.map((entry) => {
        return {
          label: getTranslated(entry.name),
          icon: entry.icon,
          to: "/plugin/" + app.id + "/" + entry.path,
          onSelect: hideMenu,
        };
      }),
    });
  }
  if (perms.includes(UserPermission.ManageApps)) {
    const children = [
      {
        label: t("app-store.title"),
        icon: "i-heroicons-squares-2x2",
        to: "/app-store",
        onSelect: hideMenu,
      },
      {
        label: t("https.title"),
        icon: "i-heroicons-lock-closed",
        to: "/https",
        onSelect: hideMenu,
      },
    ];
    if (buildType == BuildType.Citadel) {
      builtinAdditions.push({
        label: t("app-management.title"),
        icon: "i-heroicons-squares-plus",
        children,
      });
    } else {
      builtinAdditions.push(...children);
    }
  }
  if (
    perms.includes(UserPermission.ManageAppStorage) &&
    apps.some((app) => app?.id == "longhorn")
  ) {
    const entry = {
      label: t("storage.title"),
      icon: "i-heroicons-circle-stack",
      to: "/storage",
      onSelect: hideMenu,
    };
    if (
      perms.includes(UserPermission.ManageApps) &&
      buildType == BuildType.Citadel
    ) {
      builtinAdditions[builtinAdditions.length - 1]!.children.push(entry);
    } else {
      builtinAdditions.push(entry);
    }
  }
  // Here to ensure order in the resulting menu
  if (perms.includes(UserPermission.ManageApps)) {
    const entry = {
      label: t("updates.title"),
      icon: "i-heroicons-arrow-path",
      to: "/updates",
      onSelect: hideMenu,
    };
    if (buildType == BuildType.Citadel) {
      builtinAdditions[builtinAdditions.length - 1]!.children.push(entry);
    } else {
      builtinAdditions.push(entry);
    }
  }
  if (perms.includes(UserPermission.ManageUsers)) {
    builtinAdditions.push({
      label: t("users.title"),
      icon: "i-heroicons-users",
      to: "/users",
      onSelect: hideMenu,
    });
  }
  if (perms.includes(UserPermission.ManageHardware)) {
    builtinAdditions.push({
      label: t("servers.title"),
      icon: "i-heroicons-server-stack",
      to: "/servers",
      onSelect: hideMenu,
    });
  }
  for (const app of apps) {
    if (
      !app.uiModule ||
      (app.id === "citadel" && buildType == BuildType.Citadel)
    ) {
      continue;
    }
    const menuEntries = app.uiModule.menuEntries;
    appAdditions.push(
      ...menuEntries.map((entry) => {
        return {
          label: getTranslated(entry.name),
          icon: entry.icon,
          to: "/plugin/" + app.id + "/" + entry.path,
          onSelect: hideMenu,
        };
      }),
    );
  }
  return appAdditions.length > 0
    ? [[...builtinLinks, ...builtinAdditions], appAdditions]
    : [...builtinLinks, ...builtinAdditions];
});
</script>
