<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="h-dvh overflow-hidden pt-2 new-bg">
    <div class="right-3 top-3 h-16 mb-4 px-2 items-center justify-center flex">
      <LanguageToggle class="mx-1" />
    </div>
    <div class="h-[calc(100vh-6rem)] overflow-scroll px-2 py-2">
      <div class="flex flex-col items-center justify-center h-full">
        <div class="flex-grow">
          <slot />
        </div>
        <UCard
          :ui="{
            root: 'dark:bg-opacity-0 md:dark:bg-opacity-40 ring-0 shadow-none md:shadow',
            body: 'flex flex-row gap-2 py-2'
          }"
          class="mt-2"
        >
          <div
            class="w-2 h-2 rounded-full"
            :class="{
              'bg-green-400 dark:bg-green-600': route.meta.index > 1,
              'bg-blue-400 dark:bg-blue-600 animate-pulse':
                route.meta.index === 1,
              'bg-gray-400 dark:bg-gray-600': route.meta.index < 1,
            }"
          />
          <div
            class="w-2 h-2 rounded-full"
            :class="{
              'bg-green-400 dark:bg-green-600': route.meta.index > 2,
              'bg-blue-400 dark:bg-blue-600 animate-pulse':
                route.meta.index === 2,
              'bg-gray-400 dark:bg-gray-600': route.meta.index < 2,
            }"
          />
          <div
            class="w-2 h-2 rounded-full"
            :class="{
              'bg-green-400 dark:bg-green-600': route.meta.index > 3,
              'bg-blue-400 dark:bg-blue-600 animate-pulse':
                route.meta.index === 3,
              'bg-gray-400 dark:bg-gray-600': route.meta.index < 3,
            }"
          />
          <div
            class="w-2 h-2 rounded-full"
            :class="{
              'bg-green-400 dark:bg-green-600': route.meta.index > 4,
              'bg-blue-400 dark:bg-blue-600 animate-pulse':
                route.meta.index === 4,
              'bg-gray-400 dark:bg-gray-600': route.meta.index < 4,
            }"
          />
          <div
            class="w-2 h-2 rounded-full"
            v-if="!route.path.includes('setup-user')"
            :class="{
              'bg-green-400 dark:bg-green-600': route.meta.index > 5,
              'bg-blue-400 dark:bg-blue-600 animate-pulse':
                route.meta.index === 5,
              'bg-gray-400 dark:bg-gray-600': route.meta.index < 5,
            }"
          />
        </UCard>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const interval = ref(0);

const apollo = useApollo();
const route = useRoute();

onMounted(async () => {
  if (route.path !== "/setup/account" && route.path !== "/setup") {
    try {
      await refreshJwt(apollo);
    } catch (e) {
      console.warn(e);
    }
  }
  interval.value = window.setInterval(async () => {
    try {
      if (route.path !== "/setup/account" && route.path !== "/setup") {
        await refreshJwt(apollo);
      }
    } catch (e) {
      console.warn(e);
    }
  }, 60 * 1000);
});

onBeforeUnmount(() => {
  window.clearInterval(interval.value);
});
</script>
