<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-sm text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.account.title") }}
        </h1>
        <span class="text-md max-w-sm text-center">
          {{ t("setup.account.subtitle") }}
        </span>
      </template>
      <form
        class="flex flex-col items-center justify-center gap-2 w-fit mx-auto"
        @submit.prevent="createAccount"
      >
        <UFormField :label="t('setup.account.name')" required class="w-full">
          <UInput
            v-model="name"
            :placeholder="t('setup.account.name')"
            required
            size="lg"
          />
        </UFormField>
        <UFormField
          :label="t('setup.account.username')"
          required
          class="w-full"
        >
          <UInput
            v-model="username"
            :placeholder="t('setup.account.username')"
            required
            size="lg"
          />
        </UFormField>
        <UFormField :label="t('setup.account.email')" class="w-full">
          <UInput
            v-model="email"
            :placeholder="t('setup.account.email')"
            size="lg"
          />
        </UFormField>
        <UFormField
          :label="t('setup.account.password')"
          required
          class="w-full"
        >
          <PasswordInput
            v-model="password"
            :placeholder="t('setup.account.password')"
            required
            size="lg"
          />
        </UFormField>
        <UFormField
          :label="t('setup.account.confirm-password')"
          required
          class="w-full"
        >
          <PasswordInput
            v-model="confirmPassword"
            :placeholder="t('setup.account.confirm-password')"
            required
            size="lg"
          />
        </UFormField>
        <UButton :loading="isLoading" type="submit" class="mt-4" size="lg">
          {{ t("setup.next") }}
        </UButton>
      </form>
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();
const { onLogin } = useApollo();

const isLoading = ref(false);
const password = ref("");
const confirmPassword = ref("");
const email = ref("");
const name = ref("");
const username = ref("");

const setupMutation = graphql(`
  mutation doSetup(
    $username: String!
    $name: String!
    $password: String!
    $email: String
    $isPublicName: Boolean!
  ) {
    createInitialUser(
      username: $username
      name: $name
      password: $password
      email: $email
      isPublicName: $isPublicName
    )
  }
`);

const loginMutation = graphql(`
  mutation performLogin($id: String!, $password: String!) {
    login(username: $id, password: $password)
  }
`);

const postSetupMutation = graphql(`
  mutation finalizeSetup {
    installRequiredSystemApps
  }
`);

const { mutate: createUser } = useMutation(
  setupMutation,
  computed(() => ({
    variables: {
      username: username.value,
      name: name.value,
      password: password.value,
      email: email.value,
      // TODO: Make this dynamic
      isPublicName: true,
    },
  })),
);

const { mutate: login } = useMutation(
  loginMutation,
  computed(() => ({
    variables: {
      id: username.value,
      password: password.value,
    },
  })),
);

const { mutate: postSetup } = useMutation(postSetupMutation);

async function createAccount() {
  isLoading.value = true;
  await createUser();
  const loginResult = await login();
  if (!loginResult?.data?.login) {
    isLoading.value = false;
    return;
  }
  await onLogin(loginResult.data.login);
  await postSetup();
  await navigateTo("/setup/tailscale");
}

definePageMeta({
  layout: "setup",
  index: 1,
});
</script>
