<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div
    class="flex flex-col items-center justify-center overflow-hidden w-full h-full"
  >
    <div
      class="absolute top-0 right-0 w-dvw h-dvh z-10 flex items-center justify-center"
    >
      <ConfettiExplosion v-if="explosion" />
    </div>
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
      :class="{ 'z-100': !explosion }"
    >
      <template #header>
        <h1 class="text-3xl font-bold">
          {{ t("setup.finished.title") }}
        </h1>
      </template>
      <div class="flex flex-col items-center justify-center w-full gap-4">
        <span class="text-md max-w-sm text-center">
          {{ t("setup.finished.subtitle") }}
        </span>
        <UCheckbox
          v-model="telemetry"
          class="mx-auto"
          :label="t('setup.finished.share-data')"
        />
        <UButton size="lg" @click="explode">
          {{ t("setup.finish") }}
        </UButton>
      </div>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import ConfettiExplosion from "vue-confetti-explosion";

const { t } = useI18n();

const explosion = ref(false);
const telemetry = ref(false);

const finishSetupMutation = graphql(`
  mutation finishSetup {
    finishSetup
  }
`);

const installTelemetryMutation = graphql(`
  mutation installTelemetry {
    installApp(appId: "nirvati-telemetry", settings: {})
  }
`);

const { mutate: finishSetup } = useMutation(finishSetupMutation);
const { mutate: installTelemetry } = useMutation(installTelemetryMutation);

const explode = async () => {
  if (explosion.value) {
    return;
  }
  explosion.value = true;
  const promises = [
    finishSetup(),
    new Promise((resolve) => setTimeout(resolve, 2500)),
  ];
  if (telemetry.value) {
    promises.push(installTelemetry());
  }
  await Promise.all(promises);
  navigateTo("/dashboard");
};

definePageMeta({
  layout: "setup",
  index: 5,
});
</script>

<style scoped>
.z-100 {
  z-index: 100;
}
</style>
