<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="h-full flex flex-col items-center justify-center">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="text-3xl font-bold">
          {{ t("setup.configuring-https.title") }}
        </h1>
      </template>
      <ProgressBar :progress="100" class="w-40 mx-auto mb-4" />
      <p
        class="mb-4 text-center max-w-lg"
        v-html="
          t('setup.configuring-https.explanation', {
            domain: domain?.name || '',
          })
        "
      />
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

const customDomainInfoQuery = graphql(`
  query getDomainReadyState {
    users {
      me {
        app(appId: "nirvati") {
          domains {
            name
            ready
          }
        }
      }
    }
  }
`);

const { result: customDomainInfo } = useQuery(
  customDomainInfoQuery,
  {},
  {
    pollInterval: 1000, // Poll every second
  },
);

const domain = computed(() => customDomainInfo.value?.users.me.app.domains[0]);

watch(domain, (newVal) => {
  if (newVal?.ready) {
    navigateTo("/setup/visit-https");
  }
});

definePageMeta({
  layout: "setup",
  index: 4,
});
</script>
