<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!-- suppress HtmlUnknownTarget -->
<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.letsencrypt.title") }}
        </h1>
        <p class="mb-2 max-w-lg text-center">
          {{ t("setup.letsencrypt.explanation") }}
        </p>
      </template>
      <div class="block">
        <UCheckbox v-model="tosAccepted" required class="mt-2">
          <template #label>
            <i18n-t keypath="setup.letsencrypt.confirm-agreement" tag="span">
              <a
                href="https://letsencrypt.org/documents/LE-SA-v1.3-September-21-2022.pdf"
                target="_blank"
                class="underline"
                >{{ t("setup.letsencrypt.terms-of-service") }}</a
              >
              <a
                href="https://letsencrypt.org/privacy/"
                target="_blank"
                class="underline"
              >
                {{ t("setup.letsencrypt.privacy-policy") }}
              </a>
            </i18n-t>
          </template>
        </UCheckbox>
        <UCheckbox
          v-model="letsEncryptShareEmail"
          :label="t('setup.letsencrypt.email.optin')"
          class="mt-4"
        />
      </div>
      <UButton
        class="mt-3"
        :disabled="!tosAccepted"
        :loading="loading"
        @click="setupHttps"
      >
        {{ t("setup.next") }}
      </UButton>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import { AcmeProvider } from "~/utils/gql/graphql";

const { t } = useI18n();

const letsEncryptShareEmail = ref(false);
const tosAccepted = ref(false);
const loading = ref(false);

const { mutate: addAcmeProvider, error } = useMutation(addAcmeProviderMutation);

async function setupHttps() {
  loading.value = true;
  await addAcmeProvider({
    provider: AcmeProvider.LetsEncrypt,
    shareEmail: letsEncryptShareEmail.value,
  });
  if (!error.value) {
    await navigateTo("/setup/domain");
  } else {
    loading.value = false;
  }
}

definePageMeta({
  layout: "setup",
  index: 3,
});
</script>
