<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="flex flex-col items-center justify-center h-full">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <span v-if="error" class="text-red-500">{{ error }}</span>
        <h1 class="mb-3 text-3xl font-bold">
          {{ t("setup.tailscale.title") }}
        </h1>
        <span class="mb-2 max-w-lg text-center">
          {{ t("setup.tailscale.explanation") }}
        </span>
      </template>
      <div class="flex flex-col items-center justify-center">
        <a
          v-if="!tailscaleData?.network.tailscaleInfo.ip"
          :href="tailscaleData?.network.tailscaleInfo.authUrl!"
          target="_blank"
          rel="noopener noreferrer"
        >
          <UButton
            :loading="!tailscaleData?.network.tailscaleInfo.authUrl"
            :disabled="!tailscaleData?.network.tailscaleInfo.authUrl"
          >
            {{ t("setup.tailscale.login") }}
          </UButton>
        </a>
        <UButton v-if="tailscaleData?.network.tailscaleInfo.ip" @click="submit">
          {{ t("setup.next") }}
        </UButton>
        <UModal v-model="showConfirmSkipModal">
          <button
            v-if="!tailscaleData?.network.tailscaleInfo.ip"
            class="underline mt-2 text-sm"
          >
            {{ t("setup.skip") }}
          </button>
          <template #body>
            <CardLayout>
              <template #header>
                <h2 class="text-2xl font-bold">
                  {{ t("setup.tailscale.skip-confirm.title") }}
                </h2>
              </template>
              <p class="mt-2">
                {{
                  hasPrivateIp
                    ? t("setup.tailscale.skip-confirm.content-home-server")
                    : t("setup.tailscale.skip-confirm.content-cloud-server")
                }}
              </p>
              <div class="flex flex-col items-center justify-center mt-2 gap-1">
                <UButton @click="showConfirmSkipModal = false">
                  {{ t("setup.tailscale.skip-confirm.cancel") }}
                </UButton>
                <NuxtLink to="/setup/https" class="text-sm underline">
                  {{ t("setup.tailscale.skip-confirm.skip") }}
                </NuxtLink>
              </div>
            </CardLayout>
          </template>
        </UModal>
      </div>
    </UCard>
  </div>
</template>

<script setup lang="ts">
import isIpPrivate from "private-ip";

const { t } = useI18n();

const isLoading = ref(false);
const showConfirmSkipModal = ref(false);

const tailscaleUpMutation = graphql(`
  mutation tailscaleUp {
    startTailscale
  }
`);

const { mutate: tailscaleUp } = useMutation(tailscaleUpMutation);

function submit() {
  isLoading.value = true;
  // Tailscale up may fail, but tailscale will still be up
  tailscaleUp()
    .catch(() => {})
    .then(() => {
      isLoading.value = false;
      navigateTo("/setup/https");
    });
}

const tailscaleQuery = graphql(`
  query getTailscalePageInfo {
    network {
      tailscaleInfo {
        authUrl
        ip
      }
    }
  }
`);

const startLoginMutation = graphql(`
  mutation startTailscaleLogin {
    startTailscaleLogin
  }
`);

const { result: tailscaleData, error } = useQuery(tailscaleQuery, null, {
  pollInterval: 2000,
});

const { mutate: startLogin } = useMutation(startLoginMutation);

await startLogin();

const interval = ref<null | number>(null);

onMounted(() => {
  interval.value = window.setInterval(
    () => {
      startLogin();
    },
    5 * 60 * 1000,
  );
});

onBeforeUnmount(() => {
  clearInterval(interval.value!);
});

const hasPrivateIp = computed(() => {
  if (!tailscaleData) {
    return false;
  }
  return tailscaleData.value?.network.tailscaleInfo.ip
    ? isIpPrivate(tailscaleData.value?.network.tailscaleInfo.ip)
    : false;
});

definePageMeta({
  layout: "setup",
  index: 2,
});
</script>
