<!--
SPDX-FileCopyrightText: 2024 The Nirvati Developers

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="h-full flex flex-col items-center justify-center">
    <UCard
      :ui="{
        background: 'dark:bg-opacity-0 md:dark:bg-opacity-40',
        ring: 'ring-0',
        root: 'max-w-lg text-center',
        shadow: 'shadow-none md:shadow',
      }"
    >
      <template #header>
        <h1 class="text-3xl font-bold">
          {{ t("setup.visit-https.title") }}
        </h1>
      </template>
      <p
        class="mb-2 text-center max-w-lg"
        v-html="t('setup.visit-https.explanation', { domain })"
      />
    </UCard>
  </div>
</template>

<script setup lang="ts">
const { t } = useI18n();

const customDomainInfoQuery = graphql(`
  query getMyDomains {
    users {
      me {
        app(appId: "nirvati") {
          domains {
            name
          }
        }
      }
    }
  }
`);

const { data: customDomainInfo } = await useAsyncQuery(customDomainInfoQuery);
const domain = computed(
  () => customDomainInfo.value?.users.me.app.domains[0].name,
);

definePageMeta({
  layout: "setup",
  index: 4,
});
</script>
